{% block caroussel %}
{% load i18n %}

    <div class="container">
    <div class="row">
                      <div class="col-md-12" data-wow-delay="0.2s">
                          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                              <!-- Bottom Carousel Indicators -->
                              <ol class="carousel-indicators">
                                  <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                  </li>
                                  <li data-target="#quote-carousel" data-slide-to="1">
                                  </li>
                                  <li data-target="#quote-carousel" data-slide-to="2">
                                  </li>
                              </ol>

                              <!-- Carousel Slides / Quotes -->
                              <div class="carousel-inner text-center">

                                  <!-- Quote 1 -->
                                  <div class="item active">
                                      <!-- <blockquote> -->
                                          <div class="row">
                                              <div class="col-sm-8 col-sm-offset-2">

                                                 <img src="../static/images/cropped-cropped-zon-en-wind-winter.jpg" alt="Zon en Wind">

                                                  <p>{% trans "Sustainable energy sources like the sun, wind and hydro power don't have negative effects on the climate. Very little greenhouse gases are emitted and there is no air polution." %}</p>
                                                  <!-- <small>Someone famous</small> -->
                                              </div>
                                          </div>
                                      <!-- </blockquote> -->
                                  </div>
                                  <!-- Quote 2 -->
                                  <div class="item">
                                      <!-- <blockquote> -->
                                          <div class="row">
                                              <div class="col-sm-8 col-sm-offset-2">

                                                <img src="../static/images/Save80cookingstove.jpg" alt="">

                                                  <p>{% trans "The Save80 cookers which use 5x less wood, which means 5x less emission." %}</p>
                                                  <!-- <small>Someone famous</small> -->
                                              </div>
                                          </div>
                                      <!-- </blockquote> -->
                                  </div>
                                  <!-- Quote 3 -->
                                  <div class="item">
                                      <!-- <blockquote> -->
                                          <div class="row">
                                              <div class="col-sm-8 col-sm-offset-2">

                                                  <img src="../static/images/cropped-cropped-klimaschutzprojekt-indien.jpg" alt="">

                                                  <p>{% trans "A biogas installation under construction" %}</p>
                                                  <!-- <small>Someone famous</small> -->
                                              </div>
                                          </div>
                                      <!-- </blockquote> -->
                                  </div>
                              </div>

                              <!-- Carousel Buttons Next/Prev -->
                              <!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                              <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> -->
                          </div>
                      </div>
                  </div>
    </div>

{% endblock %}
