{% block caroussel %}

    <div class="container">
    <div class="row">
                      <div class="col-md-12" data-wow-delay="0.2s">
                          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                              <!-- Bottom Carousel Indicators -->
                              <ol class="carousel-indicators">
                                  <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                  </li>
                                  <li data-target="#quote-carousel" data-slide-to="1">
                                  </li>
                                  <li data-target="#quote-carousel" data-slide-to="2">
                                  </li>
                              </ol>

                              <!-- Carousel Slides / Quotes -->
                              <div class="carousel-inner text-center">

                                  <!-- Quote 1 -->
                                  <div class="item active">
                                      <!-- <blockquote> -->
                                          <div class="row">
                                              <div class="col-sm-8 col-sm-offset-2">

                                                 <img src="../static/images/cropped-cropped-zon-en-wind-winter.jpg" alt="Zon en Wind">

                                                  <p>{% trans "Duurzame energiebronnen als zon, wind, waterkracht hebben geen negatieve effecten op het klimaat. Er worden weinig broeikasgassen bij uitgestoten en er is geen sprake van luchtvervuiling.</p>
                                                  <!-- <small>Someone famous</small> -->
                                              </div>
                                          </div>
                                      <!-- </blockquote> -->
                                  </div>
                                  <!-- Quote 2 -->
                                  <div class="item">
                                      <!-- <blockquote> -->
                                          <div class="row">
                                              <div class="col-sm-8 col-sm-offset-2">

                                                <img src="../static/images/Save80cookingstove.jpg" alt="">

                                                  <p>{% trans "De Save80 kookstellen die 5x minder hout verbruiken, dus 5x minder uitstoot." %}</p>
                                                  <!-- <small>Someone famous</small> -->
                                              </div>
                                          </div>
                                      <!-- </blockquote> -->
                                  </div>
                                  <!-- Quote 3 -->
                                  <div class="item">
                                      <!-- <blockquote> -->
                                          <div class="row">
                                              <div class="col-sm-8 col-sm-offset-2">

                                                  <img src="../static/images/cropped-cropped-klimaschutzprojekt-indien.jpg" alt="">

                                                  <p>{% trans "Een biogasinstallatie in aanbouw." %}</p>
                                                  <!-- <small>Someone famous</small> -->
                                              </div>
                                          </div>
                                      <!-- </blockquote> -->
                                  </div>
                              </div>

                              <!-- Carousel Buttons Next/Prev -->
                              <!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                              <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> -->
                          </div>
                      </div>
                  </div>
    </div>

{% endblock %}
