{% load static %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet">

{% block faq %}

  <div class="container" id="faq">
      <div class="panel-group" id="faqAccordion">
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                   <h4 class="panel-title">
                    <span>Credits aan Altruisto</span>
                </h4>

              </div>
              <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p> We willen Altruisto graag bedanken voor het open source maken van hun code, zodat we ons project konden “forken”, gebaseerd op hun voorgaande werk. <a href="https://altruisto.com/">Altruisto</a> doet geweldig werk met het doneren aan goede doelen door middel van online winkelen. Hun GitHub repo kun je hier vinden: <a href="https://github.com/Altruisto/altruisto">Altruisto GitHub repository</a>
                     </p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                   <h4 class="panel-title">
                      <span>Waarom vraagt CO₂ok Ninja om toestemming voor “Lees en verander alle data van websites die je bezoekt”?</span>
                </h4>

              </div>
              <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>Om het systeem te laten werken moet de extensie informatie kunnen zien over websites die je bezoekt, zo kan de CO₂ok Ninja zien of je op de website van één van onze partners zit. Deze informatie blijft op je computer en zo wordt je privacy bewaakt. De CO₂ok Ninja heeft zijn open source code op <a href="https://github.com/Mil0dV/co2ok-ninja">Github</a>  gezet zodat iedereen kan verifiëren dat hij veilig is om te gebruiken.</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                   <h4 class="panel-title">
                      <span>Worden mijn aankopen of internet activiteiten opgeslagen door CO₂ok Ninja?</span>
                </h4>

              </div>
              <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>Nee, dat gebeurt niet. Wij krijgen alleen algemene gegevens over de aankoop van producten van de webshops. Verder verzamelen we 0 persoonlijke gegevens – we houden daar net zo weinig van als jij!</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                   <h4 class="panel-title">
                      <span>Met welke winkels werkt CO₂ok Ninja samen?</span>
                </h4>

              </div>
              <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>CO₂ok Ninja is aangesloten bij meer dan 1000 webwinkels, zoals Ebay, Bol.com, Etsy en Barnes&Noble.</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                   <h4 class="panel-title">
                      <span>Wat hebben bedrijven er aan om in de partnerlijst van CO₂ok Ninja te zitten?</span>
                </h4>

              </div>
              <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <ol>
                        <li>Onze gebruikers zijn cliënten die gedreven zijn om bij onze partners hun producten te halen in plaats van bij de concurrentie.</li>
                        <li>We zijn verschillende features aan het voorbereiden, zoals pagina’s van partners in zoekresultaten te vermelden of klanten op de hoogte houden wanneer een product dat ze willen aanschaffen van één van onze partners voor dezelfde prijs beschikbaar is. Deze features zullen klanten via een directe link naar de webwinkels leiden van onze partners.</li>
                        <li>U zult als bedrijf geassocieerd worden met het imago van CO₂ok, dat voor duurzaamheid en verbetering van het klimaat staat.</li>
                      </ol>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                   <h4 class="panel-title">
                      <span>Welk percentage van mijn aankoop word gebruikt om CO₂-uitstoot te compenseren?</span>
                </h4>

              </div>
              <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>CO₂ok ontvangt tussen 1-6% van de uiteindelijke aankoop, via de CO₂ok Ninja. Het percentage is afhankelijk van de webwinkel en het product. Hiervan gaat 75% naar de non-profitorganisatie Atmosfair gaat, die zich inzetten voor ons klimaat. De overige 25% gebruikt wordt voor het bedrijf zelf – we willen iedereen in staat stellen klimaatverandering te bestrijden, dus tijd om de wereld te veroveren! We doen dit niet om er rijk van te worden. Ook maken we onze inkomsten en uitgaven ieder jaar openbaar.</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                   <h4 class="panel-title">
                      <span>Ik shop alleen op Amazon en gebruik ook al Amazon Smile programma, is er een andere reden om CO2ok Ninja te installeren?</span>
                </h4>

              </div>
              <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>Onze partners doneren 2 tot 12 keer meer via het programma Ninja en ontvangt 1-6% van het aankoop bedrag terwijl dit bij Amazon Smile maar 0,5% is. Ook heeft CO2ok Ninja meer variatie in producten, zoals transport services, financiële producten en officiële kleding van verschillende clubs. Amazon Smile kan dit niet aanbieden.</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                   <h4 class="panel-title">
                      <span>Hoe kan ik er zeker van zijn dat het geld word gebruikt om CO2 uitstoot te verminderen?</span>
                </h4>

              </div>
              <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>De organisatie waar het geld naar toe zal gaan, zoals Atmosfair – en andere organisaties – zijn in bezit van verschillende hoogstaande certificaten. Ook worden onze inkomsten en uitgaven ieder jaar openbaar gemaakt.</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                   <h4 class="panel-title">
                      <span>Kost het mij iets om co2ok Ninja te gebruiken?</span>
                </h4>

              </div>
              <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>Nee, het programma Ninja is gratis. De prijzen bij de webwinkels zullen precies hetzelfde zijn wanneer je CO2ok Ninja gebruikt.</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
                   <h4 class="panel-title">
                      <span>Ik koop bij geen enkel bedrijf waar jullie programma op kan, is er een andere reden om het toch te installeren?</span>
                </h4>

              </div>
              <div id="question9" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>Ja, wij zijn constant bezig om nieuwe partners binnen te halen. Hierdoor zal het snel mogelijk kunnen zijn dat het bedrijf waar u wel shopt er in komt te staan. Hoe meer gebruikers hoe beter, bij iedere installatie zijn we een heel stuk dichterbij dan eerst en groeit ons naam en ons doel.</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
                   <h4 class="panel-title">
                      <span">Hoe werkt CO2ok Ninja?</span>
                </h4>

              </div>
              <div id="question10" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>Na het installeren van het programma kunt u toestemming gegeven om CO2-uitstoot neutraal te shoppen. Tijdens het afrekenen zal er bij de webwinkel het CO2-uitstoot neutraal winkelen in kaart worden gebracht. Eenmaal afgerekend krijgt CO2ok een deel van een bedrag via uw aankoop. Door de inkomsten via CO2ok Ninja worden er donaties gedaan naar organisaties zoals Atmosfair.</p>
                  </div>
              </div>
          </div>

      </div>
      <!--/panel-group-->
  </div>

{% endblock %}
