{% load static %}
{% load i18n %}

<link href="{% static 'css/faq.css' %}" rel="stylesheet">

{% block faq %}

  <div class="container">
      <div class="panel-group" id="faqAccordion">
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                   <h4 class="panel-title">
                      <span>{% trans "Why installing the Ninja App requires permission to “Read and change all data on websites you visit”?" %}</span>
                </h4>

              </div>
              <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>{% trans 'For the Ninja App to work properly it needs to have access to the information about the website you are visiting to know if you’re on one of our partners’ sites. In short, the Ninja App downloads the list of partner shops, then works in the background, comparing the website you’re viewing against the downloaded list, and if there is a match, it shows our  CO₂ok button. The information about visited websites does not leave your computer, so your privacy is protected. The Ninja App has an open code available at <a href="https://github.com/Mil0dV/co2ok-ninja\">Github</a> so anyone can view and audit it to make sure it is safe to use.' %}</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                   <h4 class="panel-title">
                      <span>{% trans "Does the Ninja App track my purchases or internet activity?" %}</span>
                </h4>

              </div>
              <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>{% trans "No! We don’t need your Data to fight climate change and therefore we don’t collect or save any personal shopping data. Our goal is to make the world a better place and not collecting data. We do get information about what kind of products are purchased and how many items are bought each month, but we do not track individual users’ purchases & don’t store them!" %}</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                   <h4 class="panel-title">
                      <span>{% trans "What stores does the Ninja App work with?" %}</span>
                </h4>

              </div>
              <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>{% trans "We have partnered with several big e-commerce businesses such as Ebay, Bol.com, Booking.com, CoolBlue, Aliexpress, Etsy, and over 1000 others. <a href \"https://co2ok.eco/en/ninja-partner-stores/\">Here you can find a list of all participating stores.</a>" %}</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                   <h4 class="panel-title">
                      <span>{% trans "How do shops benefit from being in CO₂ok Ninja program?" %}</span>
                </h4>

              </div>
              <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <ol>
                        <li>{% trans "Our users are clients who have a strong incentive to buy from our partner shops and not their competition." %}</li>
                        <li>{% trans "We are preparing multiple new features such as highlighting partners’ websites in search results. These features directly drive new consumers to partners’ stores." %}</li>
                        <li>{% trans "Thanks to CO₂ok the brands of the shops are associated with a great cause. They show that climate and our environment matters to them as well and with this they boost their image." %}</li>
                      </ol>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                   <h4 class="panel-title">
                      <span>{% trans "How big is your piece of the cake?" %}</span>
                </h4>

              </div>
              <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>{% trans "We invest 75% of the commission in the CO₂ compensation. The remaining 25% are much needed to keep CO₂ok going. We just started and our margin doesn’t even cover the costs. Our goal is to make an impact and give everybody the chance to easily fight climate change. Eventually, we will reduce our margin – we are not in this to become rich. We will always be open and transparent and therefore we will report our income and spending each year." %}</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                   <h4 class="panel-title">
                      <span>{% trans "I only shop at Amazon and already use Amazon Smile program, is there any reason for me to install the Ninja App?" %}</span>
                </h4>

              </div>
              <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>{% trans "First of all, our partners usually donate 2-12 times more through the Ninja App (1-6%) than Amazon does through Amazon Smile (only 0.5% of the final price). So, if you care about having as big a positive impact on the world as you can, using the Ninja App either instead of or in addition to Amazon Smile is a way to achieve that. Moreover, there are a lot of products or services available in our partner stores that are not available on Amazon. For example, travel services (hotels, flights, train tickets, car rentals), financial products, or sport clubs’ official apparel." %}</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                   <h4 class="panel-title">
                      <span>{% trans "How can I be sure that the money will be used to compensate greenhouse gasses?" %}</span>
                </h4>

              </div>
              <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>{% trans "Atmosfair and Fair Climate Fund provide us with certificates to prove we compensated. Additionally, we will report our income and spending each year." %}</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                   <h4 class="panel-title">
                      <span>{% trans "Does it cost me anything to use the Ninja App?" %}</span>
                </h4>

              </div>
              <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>{% trans "No, the Ninja App is absolutely free to use. The prices in the online stores are exactly the same whether you use the app or not." %}</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
                   <h4 class="panel-title">
                      <span>{% trans "I am not buying in any of these stores, is there any reason for me to install the Ninja App?" %}</span>
                </h4>

              </div>
              <div id="question9" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>{% trans "Yes, there are three reasons: 1) We are constantly working on new partnerships, so we may partner with stores that you do use in the near future. It’s easier to have it already installed rather than regularly check if stores that you use have been added. 2) If you even once decide to buy from our partners stores, having the Ninja App already installed can be a difference with the output of CO₂ in the world. It’s better to have it installed just in case, rather than miss an easy opportunity to do a lot of good for free. 3) It is easier to establish new partnerships with a bigger user base: the more users the Ninja App  has, the easier it is to convince new stores to join our initiative. Therefore, by installing the  Ninja App, you make it more probable that we will partner with shops you use in the future." %}</p>
                  </div>
              </div>
          </div>

          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
                   <h4 class="panel-title">
                      <span>{% trans "How does it work?" %}</span>
                </h4>

              </div>
              <div id="question10" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>{% trans "After installing the Ninja app you will see a our “Shop CO₂ok” box whilst shopping in one of our partner stores. Simply click this box and you will be redirected back to the partner store (exactly where you were before). From then on, whenever you buy something, CO₂ok receives a portion of the price you pay (usually between 1% and 6%). We donate our profits to carefully selected organisations such as Atmosfair. Some stores will require you to repeat the process after some time. You are a mobile Ninja - see here." %}</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                     <h4 class="panel-title">
                      <span>{% trans "Credits to Altruisto" %}</span>
                  </h4>
  
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>{% trans 'We would like to thank Altruisto for putting their code open source so we could fork our own project based on their previous work. <a href=\"https://altruisto.com/\">Altruisto</a> does a great job at donating to charities through online shoppings. Their GitHub repo can be found here: <a href=\"https://github.com/Altruisto/altruisto\">Altruisto GitHub repository' %}</a>
                       </p>
                    </div>
                </div>
            </div>
  
      </div>
      <!--/panel-group-->
  </div>

{% endblock %}
