{% load static %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet">

{% block faq %}

  <div class="container" id="faq">
      <div class="panel-group" id="faqAccordion">
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                   <h4 class="panel-title">
                      <a href="#" class="ing">Credits aan Altruisto</a>
                </h4>

              </div>
              <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p> We willen Altruisto graag bedanken voor het open source maken van hun code, zodat we ons project konden “forken”, gebaseerd op hun voorgaande werk. <a href="https://altruisto.com/">Altruisto</a> doet geweldig werk met het doneren aan goede doelen door middel van online winkelen. Hun GitHub repo kun je hier vinden: <a href="https://github.com/Altruisto/altruisto">Altruisto GitHub repository</a>
                     </p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                   <h4 class="panel-title">
                      <a href="#" class="ing">Waarom vraagt CO₂ok Ninja om toestemming voor “Lees en verander alle data van websites die je bezoekt”?</a>
                </h4>

              </div>
              <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>Om het systeem te laten werken moet de extensie informatie kunnen zien over websites die je bezoekt, zo kan de CO₂ok Ninja zien of je op de website van één van onze partners zit. Deze informatie blijft op je computer en zo wordt je privacy bewaakt. De CO₂ok Ninja heeft zijn open source code op <a href="https://github.com/Mil0dV/co2ok-ninja">Github</a>  gezet zodat iedereen kan verifiëren dat hij veilig is om te gebruiken.</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                   <h4 class="panel-title">
                      <a href="#" class="ing">Worden mijn aankopen of internet activiteiten opgeslagen door CO₂ok Ninja?</a>
                </h4>

              </div>
              <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>Nee, dat gebeurt niet. Wij krijgen alleen algemene gegevens over de aankoop van producten van de webshops. Verder verzamelen we 0 persoonlijke gegevens – we houden daar net zo weinig van als jij!</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                   <h4 class="panel-title">
                      <a href="#" class="ing">Met welke winkels werkt CO₂ok Ninja samen?</a>
                </h4>

              </div>
              <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <p>CO₂ok Ninja is aangesloten bij meer dan 1000 webwinkels, zoals Ebay, Bol.com, Etsy en Barnes&Noble.</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                   <h4 class="panel-title">
                      <a href="#" class="ing">Wat hebben bedrijven er aan om in de partnerlijst van CO₂ok Ninja te zitten?</a>
                </h4>

              </div>
              <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                      <ol>
                        <li>Onze gebruikers zijn cliënten die gedreven zijn om bij onze partners hun producten te halen in plaats van bij de concurrentie.</li>
                        <li>We zijn verschillende features aan het voorbereiden, zoals pagina’s van partners in zoekresultaten te vermelden of klanten op de hoogte houden wanneer een product dat ze willen aanschaffen van één van onze partners voor dezelfde prijs beschikbaar is. Deze features zullen klanten via een directe link naar de webwinkels leiden van onze partners.</li>
                        <li>U zult als bedrijf geassocieerd worden met het imago van CO₂ok, dat voor duurzaamheid en verbetering van het klimaat staat.</li>
                      </ol>
                  </div>
              </div>
          </div>

      </div>
      <!--/panel-group-->
  </div>

{% endblock %}
