{% load static %}
{% load i18n %}
<link href="{% static 'css/light_box.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/ninja-landing.css' %}">
<script type="text/javascript" src="{% static 'js/light_box.js' %}"></script>
{% block light_box %}

  <div class="light_box_container">

     <div class="close_light_box">
        <img src="{% static 'images/close.svg' %}" alt="">
     </div>

     <!-- {% block light_box_footer %}{% endblock %} -->


     <div class="light_box_header">
       <!-- {% block light_box_header %}{% endblock %} -->
     </div>

     <div class="light_box_body">

       <!-- <p>Joining the fight against climate change takes just 2  clicks.</p> -->
       <p style="font-weight: 500; color: #ff3100;">
         <!-- Nog 2 keer klikken en je strijd mee tegen klimaatverandering! -->
         {% trans "NOTE: CO2ok Ninja only needs to know which website you are visiting. We do not record your website visits or any other data. We do not make changes on your computer. The Google notice that you see as you click further is different from what the Ninja app does." %}

       </p>

       <img src="{% static 'images/ninja_app_install.png' %}" alt="">

      <div class="images">


      </div>

     </div>

     <a href="https://chrome.google.com/webstore/detail/co2okninja/omlkdocjhkgbllabpihhdggplladfipe?hl=nl" class="install-ninja-button">
     <div class="light_box_footer">
       <button class="btn install-button" style="background-color:#05b139;">{% trans "GET THE APP" %}</button>
      </div>
    </a>

    <script type="text/javascript" src="{% static 'js/extension-dl-redirect.js' %}"></script>

  </div>

{% endblock %}
