{% load static %}
<link href="{% static 'css/light_box.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/light_box.js' %}"></script>
{% block light_box %}

  <div class="light_box_container">

     <div class="close_light_box">
        <img src="{% static 'images/close.svg' %}" alt="">
     </div>

     <div class="light_box_header">
       <h3>CO2ok Ninja app</h3>
     </div>

     <div class="light_box_body">

       <!-- <p>Joining the fight against climate change takes just 2  clicks.</p> -->
       <p>Nog 2 keer klikken en je strijd mee tegen klimaatverandering!</p>

       <img src="{% static 'images/ninja_app_install.png' %}" alt="">

      <div class="images">


      </div>

     </div>

     <a href="https://chrome.google.com/webstore/detail/co2okninja/omlkdocjhkgbllabpihhdggplladfipe?hl=nl"
     <div class="light_box_footer">
       <button>GET THE APP</button>
      </div>
    </a>

  </div>

{% endblock %}
