{% load static %}
{% load i18n %}
{% block menu %}
  	<link href="{% static 'css/menu.css' %}" rel="stylesheet">
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #222 !important;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="/#page-top"><img src="{% static 'images/logo_licht.png' %}" alt="Lattes theme logo" style="height:40px; width:auto;"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="font-size: 17px;">
          <li class="hidden">
            <a href="/#page-top"></a>
          </li>

          <li>
            <a class="page-scroll" href="https://co2ok.eco/missie/" target="_blank">{% trans "MISSIE" %}</a>
          </li>
          <li>
            <a class="page-scroll" href="/#about">{% trans "Hoe het werkt" %}</a>
          </li>
          <li>
            <a class="page-scroll" href="/#faq">{% trans "FAQ" %}</a>
          </li>
          <li>


              <div class="dropdown btn-success" style="margin-top:12px; margin-right:12px;">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ language.name_local }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    {% for language in languages %}
                      <form action="{% url 'set_language' %}" method="post" class="languages">{% csrf_token %}
                          <!-- <input name="next" type="hidden" value="{{ redirect_to }}"> -->
                         <select name="language" style="display: none;">
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                              {{ language.name_local }} ({{ language.code }})
                            </option>
      
                         </select>
      
                          {% with 'images/flags/'|add:language.code|add:'.png' as image_static %}
                            <button type="submit" class="lang_choice" style="background-image:url({% static image_static %})">
                            </button>
                          {% endwith %}
      
                      </form>
                    {% endfor %}
                </div>
              </div>


            <!-- {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}

              <a href="{% url 'set_language' %}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>{{ language.name_local }} ({{ language.code }})</a>

            {% endfor %} -->

          </li>
          <!-- <li>

          </li> -->
          <li>
            {% if full_path == '/signup/' %}

               <a href="{% url 'login' %}" class="page-scroll btn btn-sm install-button" style="max-width: 150px;  font-size: 15px; padding:10px; margin-top:4px;">Sign in</a>

            {% else %}

               <a href="{% url 'signup' %}" class="page-scroll btn btn-sm install-button" style="max-width: 150px;  font-size: 15px; padding:10px; margin-top:4px;">Sign up</a>

            {% endif %}

          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

{% endblock %}
