{% load static %}
{% load i18n %}
{% block menu %}
  <link href="{% static 'css/menu.css' %}" rel="stylesheet">

  <nav class="co2ok-menu">
    <div class="desktop-mobile">
      <a class="co2oklogo-link" href="/"><img src="{% static 'images/logo_licht.png' %}" alt="Lattes theme logo" style="height:40px; width:auto; margin-left: 20px;"></a>
      <div class="desktop-menu">

        <div class="menu-items">

          <ul class="menu-list">
            <li><a class="page-scroll" href="/mission">{% trans "MISSION" %}</a></li>
            <li><a class="page-scroll" href="/#about">{% trans "How it works" %}</a></li>
            <li><a class="page-scroll" href="/#faq">{% trans "FAQ" %}</a></li>
            <li>
              {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="user-profile install-button btn btn-sm page-scroll" style="max-width: 150px;  font-size: 15px;">Profile</a>
              {% else %}
                {% if full_path == '/signup/' %}

                   <a href="{% url 'login' %}" class="sign-in install-button btn btn-sm page-scroll" style="max-width: 150px;  font-size: 15px;">Sign in</a>

                {% else %}

                   <a href="{% url 'signup' %}" class="sign-up install-button btn btn-sm page-scroll" style="max-width: 150px;  font-size: 15px;">Sign up</a>

                {% endif %}
              {% endif %}
            </li>

          </ul>

        </div>

      </div>

      <div class="mobile-button">

        <!-- <button name="button" class="hanburger-menu"></button> -->

        <div class="navbar-brand page-scroll" href="/#page-top" style="margin-bottom: 10px; float: right;">
          <div class="dropdown flags-list" style="">
            <!-- <img src="{% static 'images/flags/en.png' %}"> -->
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    background-image: url(/static/images/flags/en.png);
            background-size: 40px 30px;
            height: 30px;
            width: 40px;
            background-color: none;
            background-repeat: no-repeat;">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: -116px;">

                {% for language in languages %}
                  <form action="{% url 'set_language' %}" method="post" class="languages">{% csrf_token %}
                      <!-- <input name="next" type="hidden" value="{{ redirect_to }}"> -->
                     <select name="language" style="display: none;">
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                          {{ language.name_local }} ({{ language.code }})
                        </option>

                     </select>

                      {% with 'images/flags/'|add:language.code|add:'.png' as image_static %}
                        <button type="submit" class="lang_choice {{language.code}}" style="background-image:url({% static image_static %})">
                        </button>
                      {% endwith %}

                  </form>
                {% endfor %}
            </div>
          </div>
        </div>

        <button type="button" class="co2ok-navbar navbar-toggle hanburger-menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

      </div>

    </div>

    <div class="mobile-menu">

      <li><a class="page-scroll" href="https://co2ok.eco/missie/" target="_blank">{% trans "MISSION" %}</a></li>
      <li><a class="page-scroll" href="/#about">{% trans "How it works" %}</a></li>
      <li><a class="page-scroll" href="/#faq">{% trans "FAQ" %}</a></li>

      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="user-profile install-button btn btn-sm page-scroll" style="max-width: 150px;  font-size: 15px;">Profile</a>
      {% else %}
        {% if full_path == '/signup/' %}

           <a href="{% url 'login' %}" class="sign-in install-button btn btn-sm page-scroll" style="max-width: 150px;  font-size: 15px;">Sign in</a>

        {% else %}

           <a href="{% url 'signup' %}" class="sign-up install-button btn btn-sm page-scroll" style="max-width: 150px;  font-size: 15px;">Sign up</a>

        {% endif %}
      {% endif %}

    </div>
  </nav>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
{% endblock %}
