{% load static wagtailuserbar %}

{% block messages %}

   {% if messages %}

       {% for message in messages %}

          <p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>

       {% endfor %}

   {% endif %}

{% endblock %}


<style media="screen" type="text/css">

.success
{

   color: #5FD080;
   font-size: 20px;
   text-align: center;

}


.error
{

  color: red;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.4px;
  font-family: 'Open Sans', Sans-serif;
  color: #232323;

}


.warning
{

  color: #5F021F;
  font-size: 20px;
  text-align: center;

}


</style>
