.panel-title span
{

   font-weight: 700;
   cursor: pointer;

}

.panel-title a:hover{

   color: #11d073;

}

.panel-body p, .panel-body ol li
{

   font-size: 15px;
   font-weight: 500;

}

.panel-body p a
{

   text-decoration: underline;
   color: #11d073;

}
