.languages_container
{

  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.languages
{

  width: auto;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;

}

.lang_choice{

   /* background-image: url(../images/nl.png); */
   width: 30px;
   height: 20px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border: 1px solid white;
   display: inline-block;

}
