.landing-page-title {
    color:#fff;
    font-size: 26px;
    font-weight:600;
}

.landing-page-subtitle {
    color: #ffffff;
    font-size:16px;
    width: 70%;
    font-size: 17px;
}

@media (max-width: 360px) {
    .landing-page-title {
        font-size: 19px;
    }
    .landing-page-subtitle {
        width: 90%;
        font-size: 13px;
        line-height: 13px;
    }
}

@media (min-width: 361px) and (max-width: 768px) {
    .landing-page-title {
        font-size: 21px;
    }
    .landing-page-subtitle {
        width: 95%;
        font-size: 15px;
        line-height: 15px;
    }
}

.install-button {
    font-family: "Open Sans";
    /* font-size: 0.85rem; */
    background: linear-gradient(#1DEFAC 10.09%, #11D071 51.05%, #10CC6B 56.81%, #05B139 100%);
    border-color: linear-gradient(#1DEFAC 10.09%, #11D071 51.05%, #10CC6B 56.81%, #05B139 100%);
    border-color: #11D073;
    border-radius: 5px;
    /* padding: .55rem 1.5rem; */
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5rem;
    border-radius: 8px;
    vertical-align: middle;
    -webkit-appearance: none;
    /* margin-bottom: .75rem; */
    background-color: #05b139;
    border-color: #05b139;
    word-wrap: break-word;
    box-sizing: border-box;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.home-page-logos {
    /* float: initial; */
    flex: 17,5%;
    width: 17,5%;
    padding: 0px;
    display: inline-block;
}

.black-bg-bar {
    background-image: linear-gradient(to right, rgba(010,010,010,0), rgba(010,010,010,0.9), rgba(010,010,010,0.9) , rgba(010,010,010,0.9) , rgba(010,010,010,0.9),  rgba(010,010,010,0.9), rgba(010,010,010,0));
}

.international-shops-link {
    color: #00d644;
    font-weight: 600;
}

.white-bg-bar {
    background-color: #aaa;
    background-image: url("../images/fallback-gradient-white.svg");
    background-size: cover;
    min-height: 200px;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 210px;
    position: relative;
    align-self: stretch;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.9) , rgba(255,255,255,0.9) , rgba(255,255,255,0.9), rgba(255,255,255,0));
    
}

.top-text-landing {
    padding: 0px 50px;
}
@media (min-width: 768px) {
    .top-text-landing {
        padding: 0px 300px;
    }
}

.owl-nav{
    margin-top: -5px;
    margin-bottom: -10px;
}
.owl-dots {
    display: none !important;
}

.landing-container-padder {
    padding-top: 20px;
    padding-bottom: 0px;
}

.social-icon {
    font-size: 30px;
}

.install-get-the-app-button {
    background: linear-gradient(rgb(255, 255, 255) 10.09%, #AAA 51.05%, #AAA 56.81%, #999 100%);
    border-color: linear-gradient(#FFF 10.09%, #AAA 51.05%, #999 56.81%, #AAA 100%);
}