.header-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.header-signup {
  background-image: url(../images/ninjaDesign_mindful_BG.svg) !important;
}
.register-container-padder{
    padding-top: 100px;
    padding-bottom: 340px;
}

@media only screen and (max-width: 400px) {
  .register-container-padder {
    padding-bottom: 140px;
  }
}

.register-personal-container-padder{
  padding-top: 10px;
  padding-bottom: 40px;
}


.header_background{

   background-image: url(../images/ninjaDesign_install_BG.svg);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 65vh;
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
}

.header_text{

   width: 50%;
   height: 65%;
   display: flex;
   justify-content: center;

}

.header_text h2
{

   color: white;
   font-weight: 600;
   text-align: center;

}

.form_session
{

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   height: auto;

}

.social_container
{

   width: 100%;
   height: 200px;
   /* border-right: 2px solid gray; */

}

@media only screen and (max-width: 400px) {
  .social_container {
    height: 120px;
  }
}


.form_container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.register_form
{

   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.register_form p
{

   width: 90%;
   height: auto;

}


.register_form p input{

  width: 90%;
  height: 45px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 17px;
  padding-left: 10px;

}

.register_form p label{

   display: none;

}

.errorlist
{

   width: 80%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;

}

.errorlist  li{

  color: #030303;
  font-weight: 600;
  text-decoration: none;

}

.form_footer
{

   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

}

.invited-signup-signup-padder {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.invited-signup-signup-email {
  padding-top: 20px;
}

@media only screen and (max-width: 660px) {
  .invited-signup-signup-email {
    padding-top: 150px;
  }
  .invited-signup-signup-padder {
    padding-top: 150px !important;
    padding-bottom: 250px !important;
  }
}

.sign-up-info {
  text-align: left; 
  margin-top: 100px; 
  padding-left: 70%;
  /* margin-top: 20px; */
  font-size: 18px;
}

@media only screen and (max-width: 660px) {
  .sign-up-info {
    padding-left: 10%;
    margin-top: 100px;
    padding-right: 10%;
  }
}
@media only screen and (max-width: 660px) {
  .sign-up-header {
    margin-top: 10px !important;
  }
}

.register-page-whitebar {
  height: 300px;
}

@media only screen and (max-width: 660px) {
  .register-page-whitebar {
    height: 600px !important;
  }
}