.ninja-auto-link {
    box-sizing: border-box;
    border: 1px solid rgb(223, 223, 223);
    color: gray;
    border-radius: 8px;
    padding: 5px;
    max-width: 300px;
    text-align: center;
}

.co2ok-ninja-level-01 {
    width: 200px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
}

.co2ok-ninja-offer-img {
    width: 200px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    display: inline-block;
    /* margin: 20px; */
}

.co2ok-ninja-compensated-shuriken-box {
    box-sizing: border-box;
    border: 1px solid rgb(223, 223, 223);
    color: gray;
    border-radius: 8px;
    padding: 5px;
    max-width: 300px;
    text-align: center;
    /* max-height: 300px; */
}

.co2ok-ninja-currency-img {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.co2ok-ninja-currency-text {
    font-size: 30px;
    display: inline-block;
}

.profile-container-padder {
    padding-top: 100px;
}