[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "<2.4,>=2.3"
Django = "<2.2,>=2.1"
django-environ = "*"
social-auth-app-django = "*"
gunicorn = "*"
django-username-email = "*"

[dev-packages]

[requires]
python_version = "3.7"
