
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="css/ninja-main.css">
    <link rel="stylesheet" type="text/css" href="css/ninja-acount.css">
    
    <title>Ninja Register - CO₂ok</title>
    
  </head>

  <title>Ninja Register - CO₂ok</title>

  <body>

    <!-- Header Wrapper -->
    <div class="header-wrapper" style="margin-top: 0px;">
            <div class="header custom-mobile-co2ok" >

                <nav class="navbar navbar-expand-lg navbar-success bg-light list-inline" >
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="row">
                                <div class=""> <img src="images/co2ok-logo.png" class="co2ok-logo-account-ninja"></div>
                                <a class="nav-link btn btn-success custom-nav-account-ninja-btn" href="#">Home <span class="sr-only">(current)</span></a>
                                <a class="nav-link btn btn-success custom-nav-account-ninja-btn" href="#">Link</a>
                                <a class="nav-link btn btn-success custom-nav-account-ninja-btn" href="#">Link</a>
                            </div>  
                        </div>
                    </div>
                </nav>

                <div class="col-12 co2ok-ninja-account-title" style="text-align: center; margin-top: 30px; margin-bottom: 30px;"><h1>Register</h1></div>
                

            </div>
        </div>

        <div class="container">
                <div class="row">
<div class="col-xs-5"></div>
        <form class="col-xs-2 form-horizontal">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <div class="col-xs-5"></div>
            </div>
            </div>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src='js/ninja-partner-store-list.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src='js/main.js'></script>
  </body>
</html>