{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!-- begin user have app linghtbox -->

  {% block lightboxContent %}

    {% if user_app == False %}

      <link href="{% static 'css/menu.css' %}" rel="stylesheet">
        <div class="light_box_header lightboxActive">

        </div>

        <div class="light_box_body">
          <p style="font-weight: 500; color: #ff3100;">
            <!-- Nog 2 keer klikken en je strijd mee tegen klimaatverandering! -->
            {% trans "NOTE: CO₂ok Ninja only needs to know which website you are visiting. We do not record your website visits or any other data. We do not make changes on your computer. The Google notice that you see as you click further is different from what the Ninja app does." %}

          </p>
          {% get_current_language as LANGUAGE_CODE %}
          {% with 'images/ninja_app_install_'|add:LANGUAGE_CODE|add:'.png' as image_static %}
            <img src="{% static image_static %}" alt="" class="ninja_app_install">
          {% endwith %}

          <div class="images"></div>

          <a href="https://chrome.google.com/webstore/detail/co2okninja/omlkdocjhkgbllabpihhdggplladfipe?hl=nl" class="install-ninja-button">
            <div class="light_box_footer">
              <button class="btn install-button" style="background-color:#05b139;">{% trans "GET THE APP" %}</button>
            </div>
          </a>
        </div>

    {% endif %}

  {% endblock %}
<!-- end lightbox -->


{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/ninja-main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ninja-acount.css' %}">
<link href="{% static 'css/profil.css' %}" rel="stylesheet">
</head>
<!-- pick a cause light_box_header -->
<div class="light_box_container pick_cause_container" style="transform: scale(0,0); position: fixed;">

  <div class="close_light_box">
    <img src="{% static 'images/close.svg' %}" alt="">
  </div>

  <div class="light_box_header pick-a-cause-lightbox">

  </div>

  <div class="light_box_body">
    <div class="project-content-wrapper">
      <button href="" class="img-fluid co2ok-featured-shop-image co2ok-featured-project-image col-md-4 category_stores" id="1" target="" rel=""
      style="background-image: url({% static 'images/cropped-cropped-klimaschutzprojekt-indien.jpg' %});" name="co2ok_pick_project_button" value="biogasInstallation" method="post" type="submit">
          <span class="co2ok-featured-project-text">
              Biogas installations
          </span>
        </button>
      <button href="" class="img-fluid co2ok-featured-shop-image co2ok-featured-project-image col-md-4 category_stores" id="2" target="_blank" rel="noopener"
      style="background-image: url({% static 'images/cropped-cropped-zon-en-wind-winter.jpg' %});" name="co2ok_pick_project_button" value="solarPanel" method="post" type="submit">
          <span class="co2ok-featured-project-text">
              Solar panels
          </span>
        </button>
      <button href="" class="img-fluid co2ok-featured-shop-image co2ok-featured-project-image col-md-4 category_stores" id="3" target="_blank" rel="noopener"
      style="background-image: url({% static 'images/Save80cookingstove.jpg' %});" name="co2ok_pick_project_button" value="save80cookingStove" method="post" type="submit">
          <span class="co2ok-featured-project-text">
              Save80 cookers
          </span>
        </button>
    <p style="font-weight: 800; font-size:1.4rem; margin-top: 20px;">We're working hard so in the near future you can pick a project where the donated Ninja money will be spent.</p>
  </div>
</div>

</div>
<!-- end pick a cause lightbox -->

  {% if user.is_authenticated %}

      {% include 'menu.html' %}

        <div class="container profile-container-padder">
          <div class="slider-container" >
            <div class="intro-text">
              <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
              <div class="col-12 co2ok-ninja-account-title" style="text-align: center; margin-top: 110px; margin-bottom: 0px;"><h1>{% trans "Profile" %}</h1></div>
              <div class="col-12 " style="text-align: center; margin-top: 10px; margin-bottom: 30px;"><h4 style="color:#09b540; font-weight:700;">{% trans "The power of Ninja is together!" %} </h4>
              </div>



              <div class="container" >
                  <div class="row">
                    <div class="col-lg-2 col-sm-2"><img src="{% static 'images/ninjaDesignSuperman_greenfeet_uitsnede.png' %}" class="co2ok-ninja-level-01" style="margin-left: 20%;"></div>
                    <div class="col-lg-3 col-sm-3"><img src="{% static 'images/Icon-Ninja-more.png' %}" class="" style="width:180px; margin-left:23%;margin-top:20px;"></div>
                    <div class="col-lg-7 col-sm-7"><p style="font-weight:500; color:#14746b;">{% trans "Tell your friends and family about the Ninja App and share the link to fight climate change." %} </br>
                    </p>
                      <div class="ninja-auto-link col-12">
                          <input type="text" name="" value="https://{{domainname}}/{{current_path}}" readonly>
                        </div></br>
                      <div class="social-image-align col-12">
                          <div data-type="group" data-dynamic-mod="true" class="footer-social-icons">

                            <!-- <a target="_blank" class="social-icon" href="https://www.facebook.com/sharer?u=https%3A%2F%2Ftest.co2ok.ninja%2F{{user.id}}"> -->
                              <a target="_blank" class="social-icon" href="https://www.facebook.com/sharer?u=https%3A%2F%2Fco2ok.ninja%2F{{user.id}}">
                                <i class="fa fa-facebook-square" style="color:#2a5297; font-size: 60px;"></i>
                              </a>

                              <a target="_blank" class="social-icon" href="https://twitter.com/intent/tweet?text=Help%20me%20fight%20climate%20change%20while%20shopping%20-%20easy%20and%20for%20free!%20http%3A%2F%2Fco2ok.ninja%2F{{user.id}}">
                                <i class="fa fa-twitter-square" style="color:#1da1f3; font-size: 60px;"></i>
                              </a>

                              <!-- <a target="_blank" class="social-icon" href="https://www.instagram.com/co2ok.eco/">
                                <i class="fa fa-google-plus-square" style="color:#c60000; font-size: 60px;" ></i>
                              </a> -->

                          </div>
                      </div>
                    <p style="font-size:15px; color:#14746b; line-height: 1.2;">
                      {% trans "The online shop makes your purchase climate neutral and that way we actively compensate CO2 through a sustainable project." %}
                      {% trans "Make sure every penny is worth it so we can live on a green and clean planet." %} </br>
                      {% trans "Share our vision, make others happy with the Ninja App. (Want to know more?)" %} </br>
                    </p>
                    <!-- <div class="container"> -->

                      <!-- <div class="row"> -->

                        <div class="co2ok-ninja-compensated-shuriken-box">

                          <div class="conpasated_points_container">

                              <div class=" profile-point-box">
                                <div class="img_txt">
                                  <p>{% trans "CO₂ compensated" %}</p>
                                  <img src="{% static 'images/chimneys-co2-compensated.png' %}" class="co2ok-ninja-currency-img">
                                </div>
                                <div class="co2ok-ninja-currency-text">
                                  <h2 style="font-size:3rem; font-weight: 600; text-decoration: underline; margin-bottom: 10px;" class="co2compensated_num">69 kgs</h2>
                                  <p>{% trans "(Our developer are working hard to make the CO2 counter work in the near future)" %}</p>
                                </div>
                              </div>

                              <div class=" profile-point-box">

                                <div class="img_txt">
                                  <p>{% trans "Ninja Stars" %}</p>
                                  <img src="{% static 'images/shurikens-new-temp.png' %}" class="co2ok-ninja-currency-img">
                                </div>
                                <div class="col-sm-6 co2ok-ninja-currency-text">
                                  <div class="co2ok-ninja-currency-text" style="margin:auto; font-size:3rem;">{{user_points}}</div>
                                </div>

                             </div>

                          </div>

                        <div class="" style="">
                          <img src="{% static 'images/ninjaDesign_headicon_mindful.png' %}" class="co2ok-ninja-offer-img" style="width: 280px; height: 200px;"></br>

                          <div class="install-button pick_cause_butt" style="padding:10px 20px; margin-left:28%; white-space: nowrap;">{% trans "Pick A Cause" %}</div>

                        </div>

                    </div>

                  <!-- </div> -->

                <!-- </div> -->

              </div>
            </div>

        </div>
      </div>
    </div>


      <p id="back-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
      </p>
      {% include 'contact.html' %}


  {% else %}
    <h1>user.email</h1>
  {% endif %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
