{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!-- begin linghtbox -->
{% block lightboxContent %}

<link href="{% static 'css/menu.css' %}" rel="stylesheet">
    <div class="light_box_header lightboxActive">

    </div>

    <div class="light_box_body">
      <p style="font-weight: 500; color: #ff3100;">
        <!-- Nog 2 keer klikken en je strijd mee tegen klimaatverandering! -->
        {% trans "NOTE: CO₂ok Ninja only needs to know which website you are visiting. We do not record your website visits or any other data. We do not make changes on your computer. The Google notice that you see as you click further is different from what the Ninja app does." %}

      </p>
      {% get_current_language as LANGUAGE_CODE %}
      {% with 'images/ninja_app_install_'|add:LANGUAGE_CODE|add:'.png' as image_static %}
        <img src="{% static image_static %}" alt="" class="ninja_app_install">
      {% endwith %}

      <div class="images"></div>

      <a href="https://chrome.google.com/webstore/detail/co2okninja/omlkdocjhkgbllabpihhdggplladfipe?hl=nl" class="install-ninja-button">
        <div class="light_box_footer">
          <button class="btn install-button" style="background-color:#05b139;">{% trans "GET THE APP" %}</button>
        </div>
      </a>
    </div>

{% endblock %}
<!-- end lightbox -->

{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/ninja-main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ninja-acount.css' %}">
<link href="{% static 'css/profil.css' %}" rel="stylesheet">
</head>

  {% if user.is_authenticated %}
      <!-- begin lightbox -->

      <!-- end lightbox -->
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#333;">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand page-scroll" href="/"><img src="{% static 'images/logo_licht.png' %}" alt="Lattes theme logo" style="height:40px; width:auto;"></a>
          <div class="navbar-brand page-scroll" href="/#page-top" style="margin-top:5px; margin-right:20px; margin-left:15px; margin-bottom: 0px;">

            <div class="dropdown" style="">
                <!-- <img src="{% static 'images/flags/en.png' %}"> -->
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    background-image: url(/static/images/flags/en.png);
                background-size: 40px 30px;
                height: 30px;
                width: 40px;
                background-color: none;
                background-repeat: no-repeat;">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    {% for language in languages %}
                      <form action="{% url 'set_language' %}" method="post" class="languages">{% csrf_token %}
                          <!-- <input name="next" type="hidden" value="{{ redirect_to }}"> -->
                         <select name="language" style="display: none;">
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                              {{ language.name_local }} ({{ language.code }})
                            </option>

                         </select>

                          {% with 'images/flags/'|add:language.code|add:'.png' as image_static %}
                            <button type="submit" class="lang_choice {{language.code}}" style="background-image:url({% static image_static %})">
                            </button>
                          {% endwith %}

                      </form>
                    {% endfor %}
                </div>
              </div>

          </div>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="font-size: 17px;">
              <li class="hidden">
                <a href="#page-top"></a>
              </li>

              <li>
                <a class="page-scroll" href="https://co2ok.eco/missie/">{% trans "MISSION" %}</a>
              </li>
              <li>
                <a class="page-scroll" href="/#about">{% trans "How it works" %}</a>
              </li>
              <li>
                <a class="page-scroll" href="/#faq">{% trans "FAQ" %}</a>
              </li>
              <!-- <li>
                <a class="page-scroll btn btn-sm install-button" style="max-width: 150px;  font-size: 15px; padding:10px; margin-top:4px;"href="#about">Sign up</a>
              </li> -->
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>

        <div class="container profile-container-padder">
          <div class="slider-container" >
            <div class="intro-text">
              <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
              <div class="col-12 co2ok-ninja-account-title" style="text-align: center; margin-top: 110px; margin-bottom: 30px;"><h1>{% trans "Profile" %}</h1></div>

              </div>



              <div class="container">
                  <div class="row">
                    <div class="col-lg-4 col-sm-4"><img src="{% static 'images/ninjaDesignSuperman_greenfeet_uitsnede.png' %}" class="co2ok-ninja-level-01"></div>

                    <div class="col-lg-8 col-sm-8"><h5>Email: {{user.email}}</h5></br>
                      <div class="ninja-auto-link col-12">
                          <input type="text" name="" value="https://{{domainname}}/{{current_path}}" readonly>
                        </div></br>
                      <div class="social-image-align col-12">
                          <div data-type="group" data-dynamic-mod="true" class="footer-social-icons">

                            <!-- <a target="_blank" class="social-icon" href="https://www.facebook.com/sharer?u=https%3A%2F%2Ftest.co2ok.ninja%2F{{user.id}}"> -->
                              <a target="_blank" class="social-icon" href="https://www.facebook.com/sharer?u=https%3A%2F%2Fco2ok.ninja%2F{{user.id}}">
                                <i class="fa fa-facebook-square" style="color:#2a5297; font-size: 60px;"></i>
                              </a>

                              <a target="_blank" class="social-icon" href="https://twitter.com/intent/tweet?text=Help%20me%20fight%20climate%20change%20while%20shopping%20-%20easy%20and%20for%20free!%20http%3A%2F%2Fco2ok.ninja%2F{{user.id}}">
                                <i class="fa fa-twitter-square" style="color:#1da1f3; font-size: 60px;"></i>
                              </a>

                              <!-- <a target="_blank" class="social-icon" href="https://www.instagram.com/co2ok.eco/">
                                <i class="fa fa-google-plus-square" style="color:#c60000; font-size: 60px;" ></i>
                              </a> -->

                          </div>
                      </div>
                    <p>
                      {% trans "Tell your friends about CO₂ok Ninja by sharing the above link, so you get shurikens" %}
                    </p>
                    <div class="container">
                        <div class="row">
                        <div class="col-lg-3 col-sm-12 co2ok-ninja-compensated-shuriken-box text-center">
                            <p>{% trans "CO₂ compensated" %}</p>
                            <img src="{% static 'images/CO2-smoke.png' %}" class="co2ok-ninja-currency-img"><div class="co2ok-ninja-currency-text">69 kgs</div>
                            <br>
                            <br>
                            <p>Shurikens</p>
                            <img src="{% static 'images/shuriken.png' %}" class="co2ok-ninja-currency-img"><div class="co2ok-ninja-currency-text">{{user_points}}</div>
                        </div>
                        <div class="col-lg-3 text-center" style="margin-top:50px;">
                          <img src="{% static 'images/ninjaDesign_offer.png' %}" class="co2ok-ninja-offer-img" style="width: 300px; height: 200px;"></br>
                          {% trans "Pick a cause" %}
                        </div>
                  </div>
                    </div>
                    </div>
                  </div>
                </div>




            </div>
          </div>
        </div>


      <p id="back-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
      </p>
      {% include 'contact.html' %}


  {% else %}
    <h1>user.email</h1>
  {% endif %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
