{% load pwa %}
{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    {% progressive_web_app_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{% static 'images/co2ok-logo-favicon.png' %}"/>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{% static 'css/ninja-main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mobile-ninja-lightbox.css' %}">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Partner stores list</title>


  </head>

  <title>Ninja partner winkels - CO₂ok</title>

<body style="overflow-x:hidden; margin-top: 0px; background-image: linear-gradient(to right, #01ec6b , #002712);">

<!-- lightbox -->
<div class="light_box_container mobil_light_box">

    <div class="close_light_box">
      <img src="{% static 'images/close.svg' %}" alt="">
    </div>

    <div class="lightboxActive">
        <p class="iphone-lightbox-section-step" style="margin-top: 5%;">
            {% trans "You can install the Mobile Ninja app on your device so you can easily access your favorite online shops and automatically compensate CO2 emissions." %}
            <img src="{% static 'images/globe_lightbox.png' %}" alt="" class="mobile-ninja-iphone-lightbox-img">
        </p>
        <p class="iphone-lightbox-section-step">
            {% trans "1) Tap the Action button on the toolbar." %}
            <img src="{% static 'images/step1_iPhone_safari.jpg' %}" alt="" class="mobile-ninja-iphone-lightbox-img">
        </p>
        <p class="iphone-lightbox-section-step">
            {% trans "2) Tap the Add to Home Screen button from the Share Sheet." %}
            <img src="{% static 'images/step2_iPhone_safari.jpg' %}" alt="" class="mobile-ninja-iphone-lightbox-img">
        </p>

    </div>


  </div>

  <div class="share_box_container">

      <div class="close_share_box">
        <img src="{% static 'images/close.svg' %}" alt="">
      </div>

      <div class="shareContent">

        <div class="shareButtContainer">
          <a href="https://www.facebook.com/sharer?u=https%3A%2F%2Fco2ok.ninja%2F1" target="_blank"><i class="fa fa-facebook-official"></i></a>
          <a href="https://twitter.com/intent/tweet?text=Help%20me%20fight%20climate%20change%20while%20shopping%20-%20easy%20and%20for%20free!%20http%3A%2F%2Fco2ok.ninja%2F1" target="_blank"><i class="fa fa-twitter-square"></i></a>
        </div>
        {% if user.is_authenticated %}
          <input type="text" name="" value="{{domainname}}/{{user.id}}" class="userlink" disabled>
        {% else %}
          <p>niet ingeloogd</p>
        {% endif %}

      </div>


    </div>
<!-- end lightbox -->

    <!-- Header Wrapper -->
    <!-- <div class="header-wrapper" style="margin-top: 0px;"> -->
        <!-- <div class="header custom-mobile-co2ok"> -->

    <!-- Menu -->
    <div class="mobile-ninja-container">

      <div style="background-image: linear-gradient(to right, rgb(34, 34, 34) , rgb(80, 80, 80));" class="mobile_ninja_menu">
              <div class="row justify-content-md-center logo-share-container">
                  <div class="col-xs-4" style="cursor: pointer;"> <a href="https://co2ok.ninja/"><img src="{% static 'images/logo_licht.png' %}" class="co2ok-logo-main-ninja" style="height: 160px; max-height: 50px !important;"></a></div>
                  <div class="col-xs-6 " style="text-align:center;color:#fff"><h3 style="font-size: 1.25rem;">Mobile Ninja</h3></div>
                  <div class="col-xs-1 ninja_share" style="">

                     <img src="{% static 'images/share-mobile-button.png' %}" class="co2ok-logo-main-ninja" style="position: relative;bottom: 5px;height: 160px; max-height: 55px !important; padding:5px;">

                  </div>
                  <div class="col-xs-1" style="cursor: pointer;"><a href="/accounts/profile"> <img src="{% static 'images/profile-mobile-mindul_cropped.png' %}" class="co2ok-logo-main-ninja" style="position: relative;bottom: 10px;height: 160px; max-height: 60px !important; padding:5px;"></a></div>
              </div>
              <form action="{% url 'partner-stores' %}" class="no-gutters form-horizontal search_form" style="width: 100%; display: flex;justify-content: center;align-items:center;" method="get">{% csrf_token %}
                  <div class="" style="width: 100%;display: flex; flex-direction: row; justify-content: center;align-items:center;">
                      <!-- <div class="col-xs-3"> <img src="images/co2ok-logo.png" class="co2ok-logo-main-ninja"></div> -->
                      <div class="col-xs-12" style="width: 80%;display: flex;justify-content: center;align-items:center;"><input class="form-control" id="serachInput" type="search" name="query" {% if search_query %} value="{{ search_query }}"{% endif %} placeholder="Search topics or keywords" aria-label="Search" style=""></div>
                      <!-- {% csrf_token %}
                      {{ form.as_p }} -->
                      <button  class="btn btn-success search-submit" type="submit" style="max-height:49px;"><i class="fa fa-search"></i></button>
                  </div>
              </form>

              <div class="row justify-content-md-center neutral-ninja" style="width: 100%;">
                  <div class="col-xs-6" style="margin-left: 7px;"> <img src="{% static 'images/ninjaDesign_Hadouken.png' %}" class="co2ok-logo-main-ninja" style="height: 160px; max-height: 130px !important;"></div>
                  <div class="col-xs-6" style="color:#fff; text-align:center; margin-top:18px;"><h3 style="font-size: 1rem;">Make shopping </br> climate neutral!</h3></div>
              </div>
      </div>



  <div style="background-image: linear-gradient(to right, #01ec6b , #002712);" class="ninja-partner-store-bg">
      <!-- Categories -->
            <!-- <div class="owl-carousel owl-theme">
                      <div class="item" style="width:250px"><div class=" col-auto" style="padding-left: 1px; padding-right: 1px;">
                              <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: linear-gradient(to bottom, rgb(34, 34, 34) , rgb(80, 80, 80));">Clothing</button>
                          </div></div>
                      <div class="item" style="width:100px"><h4>2</h4></div>
                      <div class="item" style="width:500px"><h4>3</h4></div>
                      <div class="item" style="width:100px"><h4>4</h4></div>
                      <div class="item" style="width:50px"><h4>6</h4></div>
                      <div class="item" style="width:250px"><h4>7</h4></div>
                      <div class="item" style="width:120px"><h4>8</h4></div>
                      <div class="item" style="width:420px"><h4>9</h4></div>
                      <div class="item" style="width:120px"><h4>10</h4></div>
                      <div class="item" style="width:300px"><h4>11</h4></div>
                      <div class="item" style="width:450px"><h4>12</h4></div>
                      <div class="item" style="width:220px"><h4>13</h4></div>
                      <div class="item" style="width:150px"><h4>14</h4></div>
                      <div class="item" style="width:600px"><h4>15</h4></div>
                  </div> -->

      <div class="container-fluid categoryContainer" style="z-index: 3; display: none; background-image: linear-gradient(to right, #01ec6b , #002712); border-bottom:1px solid rgba(1, 236, 107, 0.5);">
          <div class="categories" style="margin-top:20px;">

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_fashion.jpg); background-size: 100%;">Fashion</button>

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_electronics.jpg); background-size: 100%;">Electronics</button>

                <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_toysChristmas.jpg); background-size: 100%;">Toys</button>

                      <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_booksMedia.jpg); background-size: 100%;">Books & Media</button>

                <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_homeGardenPets.jpg); background-size: 100%;">Home, Garden & Pets</button>

                    <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_holidayWinter.jpg); background-size: 100%;">Holiday</button>

                      <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_giftsGadgets.jpg); background-size: 100%;">Gifts & Gadgets</button>

                      <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_food.jpg); background-size: 100%;">Food</button>

                      <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_health.jpg); background-size: 100%;">Health</button>

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_erotica.jpg); background-size: 100%;">Erotica</button>

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_party.jpg); background-size: 100%;">Party</button>

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_hobby.jpg); background-size: 100%;">Hobby</button>

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_itOffice.jpg); background-size: 100%;">IT & Office</button>

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_vehicles.jpg); background-size: 100%;">Vehicles</button>

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_departmentStore.jpg); background-size: 100%;">Department Stores</button>

                <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_sportsRecreation.jpg); background-size: 100%;">Sports & Recreation</button>

                <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_dating.jpg); background-size: 100%;">Dating</button>

                  <button type="button" class="btn-mobile-ninja-caroussel btn-primary" style="background-image: url(/static/images/categories/cat_other.jpg); background-size: 100%;">Other</button>

              </div>

          </div>

          <form class="categoryDropDown" action="" method="" style="display: none">

             <select class="categorySelect" name="">

               <option value="">Kies een categorie</option>

               <option value="Fashion" class="btn-mobile-ninja-caroussel btn-primary">Fashion</option>

               <option value="Electronics" class="btn-mobile-ninja-caroussel btn-primary">Electronics</option>

               <option value="Toys" class="btn-mobile-ninja-caroussel btn-primary">Toys</option>

               <option value="Books & Media" class="btn-mobile-ninja-caroussel btn-primary">Books & Media</option>

               <option value="Home, Garden & Pets" class="btn-mobile-ninja-caroussel btn-primary">Home, Garden & Pets</option>

               <option value="Holiday" class="btn-mobile-ninja-caroussel btn-primary">Holiday</option>

               <option value="Gifts & Gadgets" class="btn-mobile-ninja-caroussel btn-primary">Gifts & Gadgets</option>

               <option value="Food" class="btn-mobile-ninja-caroussel btn-primary">Food</option>

               <option value="Health" class="btn-mobile-ninja-caroussel btn-primary">Health</option>

               <option value="Erotica" class="btn-mobile-ninja-caroussel btn-primary">Erotica</option>

               <option value="Party" class="btn-mobile-ninja-caroussel btn-primary">Party</option>

               <option value="Hobby" class="btn-mobile-ninja-caroussel btn-primary">Hobby</option>

               <option value="IT & Office" class="btn-mobile-ninja-caroussel btn-primary">IT & Office</option>

               <option value="Vehicles" class="btn-mobile-ninja-caroussel btn-primary">Vehicles</option>

               <option value="Department Stores" class="btn-mobile-ninja-caroussel btn-primary">Department Stores</option>

               <option value="Sports & Recreation" class="btn-mobile-ninja-caroussel btn-primary">Sports & Recreation</option>

               <option value="Dating" class="btn-mobile-ninja-caroussel btn-primary">Dating</option>

               <option value="Other" class="btn-mobile-ninja-caroussel btn-primary">Other</option>

             </select>

          </form>

          <div class="search_result" style="z-index: 1;">
            {% include 'ninja_partner_stores/partner_stores_data.html' %}
          </div>

      </div>

    </div>

     <script src="https://code.jquery.com/jquery-3.1.1.min.js">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/partner_stores.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mobile-ninja-lightbox.js' %}"></script>


  </body>

</html>
