{% load static %}
{% block partner_stores_data %}

<!-- begin search result -->
{% if search_results %}

  {% if search_result_count > 0 %}

     {% for search_result in search_results %}

     {% with 'images/logos/'|add:search_result.website|add:'.png' as stores_image %}

       <a href="{{ search_result.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4" target="_blank" rel="noopener"
       style="background-image: url('{% static stores_image %}');">

           <span class="co2ok-featured-shop-text">
               {{search_result.website | title }}
           </span>

       </a>

      {% endwith %}

     {% endfor %}

  {% else %}
    <h3>niets gevonden...</h3>
  {% endif %}

{% endif %}

<!-- end search result -->

<!-- begin cateory result -->

{% if category_results %}

   {% if category_result_count > 0 %}

      {% for category_result in category_results %}

        {% with 'images/logos/'|add:category_result.website|add:'.png' as stores_image %}

          <a href="{{ category_result.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4 category_stores" id="{{category_result.website}}" target="_blank" rel="noopener"
          style="background-image: url('{% static stores_image %}');">

              <span class="co2ok-featured-shop-text">
                  {{category_result.website | title}}
              </span>

          </a>

        {% endwith %}

      {% endfor %}

   {% else %}

   {% endif %}

{% endif %}

{% if category_result_extras %}

    {% for category_result_extra in category_result_extras %}

      {% with 'images/logos/'|add:category_result_extra.website|add:'.png' as stores_image %}

          <a href="{{ category_result_extra.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4 category_stores" id="{{category_result.website}}" target="_blank" rel="noopener"
          style="background-image: url('{% static stores_image %}');">
              <span class="co2ok-featured-shop-text">
                  {{category_result_extra.website | title}}
              </span>
          </a>

      {% endwith %}

    {% endfor %}

{% endif %}
<!-- ebd category search -->

<!-- begin store display -->

{% if stores %}

   {% for store in stores %}

     {% with 'images/logos/'|add:store.website|add:'.png' as stores_image %}
       <a href="{{ store.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4" target="_blank" rel="noopener"
       style="background-image: url('{% static stores_image %}');">
           <span class="co2ok-featured-shop-text store_name">
               {{store.website | title}}
           </span>
       </a>
     {% endwith %}

   {% endfor %}

{% endif %}

<!-- end store display -->

{% endblock %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
<script type="text/javascript">

  function removeStoreDupplicate()
  {

    var store = document.querySelectorAll('.category_stores');
    var searchResult = document.querySelector('.search_result');
    var storeArr = [];
    for (var i = 0; i < store.length; i++) {

       storeArr.push(store[i].id);

    }
    var uniqArr = _.uniq(storeArr);


    console.log(uniqArr);
    console.log(uniqArr.length);

  }
  // removeStoreDupplicate();

  function storeNameSlice()
  {

    var storeName = document.querySelectorAll('.co2ok-featured-shop-text');

     for (var i = 0; i < storeName.length; i++) {
       var storeNameTxt = storeName[i].textContent;
       var storeNameArr = storeNameTxt.split('.');
       storeName[i].innerHTML = storeNameArr[0];
     }

  }
  storeNameSlice();

</script>
