{% load static %}
{% block partner_stores_data %}

{% if search_results %}

  {% if search_result_count > 0 %}

     {% for search_result in search_results %}

       <!-- <h3 style="color: blue;">{{search_result.website}}</h3> -->
       {% with 'images/logos/'|add:search_result.website|add:'.png' as stores_image %}
         <a href="{{ search_result.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4" target="_blank" rel="noopener"
         style="background-image: url('{% static stores_image %}');">
             <span class="co2ok-featured-shop-text">
                 {{search_result.website | title }}
             </span>
         </a>
        {% endwith %}
     {% endfor %}
   {% else %}
     <h3>niets gevonden...</h3>
   {% endif %}

{% elif category_results %}

  {% if category_resultcount_count > 0 %}

     {% for category_result in category_results %}

       <!-- <h3 style="color: blue;">{{category_result.website}}</h3> -->
       {% with 'images/logos/'|add:category_result.website|add:'.png' as stores_image %}
         <a href="{{ category_result.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4" target="_blank" rel="noopener"
         style="background-image: url('{% static stores_image %}');">
             <span class="co2ok-featured-shop-text">
                 {{category_result.website | title}}
             </span>
         </a>
       {% endwith %}

     {% endfor %}
     <!-- aanvullende categorieen als er niet genoeg stores bij de categorie -->
     {% if category_result_extras %}

       {% for category_result_extra in category_result_extras %}

         {% with 'images/logos/'|add:category_result_extra.website|add:'.png' as stores_image %}

           <a href="{{ category_result_extra.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4" target="_blank" rel="noopener"
           style="background-image: url('{% static stores_image %}');">
               <span class="co2ok-featured-shop-text">
                   {{category_result_extra.website | title}}
               </span>
           </a>

         {% endwith %}

       {% endfor %}

     {% endif %}
     <!-- end -->

   {% else %}
     <h3>niets gevonden...</h3>
   {% endif %}

{% else %}

  {% for store in stores %}

    <!-- <h3 style="color: blue;">{{category_result.website}}</h3> -->
    {% with 'images/logos/'|add:store.website|add:'.png' as stores_image %}
      <a href="{{ store.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4" target="_blank" rel="noopener"
      style="background-image: url('{% static stores_image %}');">
          <span class="co2ok-featured-shop-text">
              {{store.website | title}}
          </span>
      </a>
    {% endwith %}

  {% endfor %}

  {% if stores_extras %}

    {% for stores_extra in stores_extras %}

      {% with 'images/logos/'|add:stores_extra.website|add:'.png' as stores_image %}
        <a href="{{ stores_extra.makeURLlink }}" class="img-fluid co2ok-featured-shop-image col-md-4" target="_blank" rel="noopener"
        style="background-image: url('{% static stores_image %}');">
            <span class="co2ok-featured-shop-text">
                {{stores_extra.website | title}}
            </span>
        </a>
      {% endwith %}

    {% endfor %}

  {% endif %}

{% endif %}


{% endblock %}
