{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<head>
	<link href="{% static 'css/ninja-register.css' %}" rel="stylesheet">
	<link href="{% static 'css/ninja-landing.css' %}" rel="stylesheet">
</head>

    {% include 'menu.html' %}
		<!-- Header -->
		<header class="header-register">
			<div class="header_background">

			 <div class="header_text">
				 <h2>Sign in</h2>
			 </div>

			 </div>
				<!-- <div class="col-md-12"> -->
			 <section style="height: 270px !important; padding: 50px 0px;" class="white-bg-bar form_session invited-signup-signup-padder">
           <!-- <div class="form-session"> -->
								<div class="skills-text social_container_invited_signup">
									<!-- <h2>Sign in via:</h2> -->
										<div data-type="group" data-dynamic-mod="true" class="footer-social-icons">

											<!-- <a class="social-icon" href="{% url 'social:begin' 'facebook' %}">
												<i class="fa fa-facebook-square" style="color:#2a5297; font-size: 60px;"></i>
											</a> -->

											<!-- <a target="_blank" class="social-icon" href="https://twitter.com/CO2ok_eco">
												<i class="fa fa-twitter-square" style="color:#1da1f3; font-size: 60px;"></i>
											</a>

											<a target="_blank" class="social-icon" href="https://www.instagram.com/co2ok.eco/">
												<i class="fa fa-google-plus-square" style="color:#c60000; font-size: 60px;" ></i>
											</a> -->

										</div>
								</div>
							<!-- <div class="col-md-6 col-sm-12 text-center" style="border-left: 3px solid gray;"> -->
								<!-- skill bar item -->
								<div class="skills-text form_container">
									<h2>Sign in via email:</h2>
										{% include "messages.html" %}

										<form method="post" class="register_form">
												{% csrf_token %}
												{{ form.as_p }}
											<button type="submit" class=" color2 install-ninja-button btn btn-xl install-button" style="padding: 15px; position: relative, left: 50px;">{% trans "Sign in" %}</button>
										</form>

								</div>

				</section>


		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>

	</header>

	<footer>
		{% include 'contact.html' %}
	</footer>

{% endblock %}
