{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ninja-register.css' %}">
{% block content %}

    <nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top"><img src="{% static 'images/logo_licht.png' %}" alt="Lattes theme logo" style="height:40px; width:auto;"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>

						<li>
							<a class="page-scroll" href="#mission">MISSION</a>
						</li>
						<li>
							<a class="page-scroll" href="#about">How it works</a>
						</li>
						<li>
							<a class="page-scroll" href="#FAQ">FAQ</a>
						</li>
						<li>
							<a class="page-scroll btn btn-sm install-button" style="max-width: 150px;  font-size: 15px; padding:10px; margin-top:4px;"href="t">Sign up</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- Header -->
		<header class="header-register">
			<div class="container register-container-padder">
				<div class="slider-container" >
					<div class="intro-text">
						<!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
						<div class="intro-heading " style="margin-top: -50px; padding-bottom:20px; color:#fff; font-size: 36px;">Sign Up

							</div>
						</div>








					</div>
				</div>

			<section style="padding-top: 20px;" class="white-bg-bar">
					<div class="container">
						<div class="row">
							<div class="col-md-6 text-center">
								<div class="skills-text">
									<h2>Sign up via:</h2>
										<div data-type="group" data-dynamic-mod="true" class="footer-social-icons">

											<a target="_blank" class="social-icon" href="https://www.facebook.com/CO2ok/">
												<i class="fa fa-facebook-square" style="color:#2a5297; font-size: 60px;"></i>
											</a>

											<a target="_blank" class="social-icon" href="https://twitter.com/CO2ok_eco">
												<i class="fa fa-twitter-square" style="color:#1da1f3; font-size: 60px;"></i>
											</a>

											<a target="_blank" class="social-icon" href="https://www.instagram.com/co2ok.eco/">
												<i class="fa fa-google-plus-square" style="color:#c60000; font-size: 60px;" ></i>
											</a>

										</div>
								</div>
							</div>
							<div class="col-md-6 text-center" style="border-left: 3px solid gray;">
								<!-- skill bar item -->
								<div class="skills-text">
										<h2>{% include "messages.html" %}</h2>

										<div class="col-md-12">
												<!-- <form name="sentMessage" id="contactForm" novalidate="">
													<div class="row">

														<div class="col-md-8">
															<div class="col-md-12">
																<div class="form-group">
																	<input type="email" class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address.">
																	<p class="help-block text-danger"></p>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<input type="password" class="form-control" placeholder="Password *" id="name" required="" data-validation-required-message="Please enter your password.">
																	<p class="help-block text-danger"></p>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="row">
																<div class="col-lg-12 text-center">
																	<div id="success"></div>
																	<button type="submit" class="btn btn-success">Sign Up</button>
																</div>
														</div>
													</div>

												</div>
												</form> -->

                        <form method="post" class="register_form">
                          <div class="form_input">
                            {% csrf_token %}
                            {{ form.as_p }}
                          </div>
                          <button type="submit" class=" color2 install-ninja-button btn btn-xl install-button" style="padding: 15px; position: relative, left: 20px; bottom: 10px;">Sign up</button>
                        </form>
										</div>

								</div>
							</div>
						</div>
					</div>
				</section>
		</header>

		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Contact Us</h2>
							<p>If you have some Questions or need Help! Please Contact Us!</p>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-6">
						<h3>Our Business Office</h3>
						<p>Lange Viestraat 2, Utrecht (De Planeet), The Netherlands</p>
						<p><i class="fa fa-phone"></i> +31639765259</p>
						<p><i class="fa fa-envelope"></i> info@co2ok.eco</p>
					</div>
					<div class="col-md-6">
						<h3>Info</h3>
						<div data-type="group" data-dynamic-mod="true" class="footer-social-icons">

							<a target="_blank" class="social-icon" href="https://www.facebook.com/CO2ok/">
								<i class="fa fa-facebook-official"></i>
							</a>


							<a target="_blank" class="social-icon" href="https://twitter.com/CO2ok_eco">
								<i class="fa fa-twitter-square"></i>
							</a>


							<a target="_blank" class="social-icon" href="https://www.instagram.com/co2ok.eco/">
								<i class="fa fa-instagram"></i>
							</a>


							<a target="_blank" class="social-icon" href="https://www.linkedin.com/company/11418867">
								<i class="fa fa-linkedin"></i>
							</a>


					</div>
						<p>© 2018 CO₂ok. <br>KvK nummer: 69752753</p>

					</div>

				</div>
			</div>
		</section>
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>

		<!-- Modal for portfolio item 1 -->
		<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
					</div>
					<div class="modal-body">
					<img src="{% static 'images/demo/portfolio-1.jpg' %}" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 2 -->
		<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
					</div>
					<div class="modal-body">
						<img src="{% static 'images/demo/portfolio-2.jpg' %}" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 3 -->
		<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
					</div>
					<div class="modal-body">
						<img src="{% static 'images/demo/portfolio-3.jpg' %}" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 4 -->
		<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
					</div>
					<div class="modal-body">
						<img src="{% static 'images/demo/portfolio-4.jpg' %}" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 5 -->
		<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-5">Fast People</h4>
					</div>
					<div class="modal-body">
						<img src="{% static 'images/demo/portfolio-5.jpg' %}" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
