{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<head>
	<link href="{% static 'css/ninja-register.css' %}" rel="stylesheet">
	<link href="{% static 'css/ninja-landing.css' %}" rel="stylesheet">
</head>


		<!-- Header -->
	<header class="header-register">
    {% include 'menu.html' %}
		<div class="header_background header-signup">

        	<div class="ninja-armony">
							<h2 style="color: #000;">{% trans "Join us!" %}</h2>
							<div class="nijnjas"></div>
					</div>

					<div class="ninja-infos">
							<div class="info-text-container"><span>💚</span><p>{% trans "See the kg of CO₂<br> you prevented" %}</p></div>
							<div class="info-text-container"><span>💚</span><p>{% trans "Choose your CO₂ <br>compensation project" %}</p></div>
							<div class="info-text-container"><span>💚</span><p>{% trans "Earn secret rewards in<br> the Ninja referral program" %}</p></div>
					</div>

		</div>

			<section class="white-bg-bar form_session register-page-whitebar" style="padding: 0px 0px; height: auto;  padding-top: 10px;padding-bottom: 30px;">

					<div class="form_social_container">

						<div class="form-container">

							{% include "messages.html" %}

								<form method="post" class="register_form">
										{% csrf_token %}
										{{ form.as_p }}
										<div class="form_footer">
											<button type="submit" class=" color2 install-ninja-button btn btn-xl install-button join-us-button" style="padding: 15px; position: relative; display: inline-block; ">{% trans "Join us!" %}</button>
											<p class="signup-privacy-disclaimer">{% trans "We won't share your email adress or other user data, read here about our" %} <a href="/#CO2ok-Ninja-Privacy-Policy" target="_blank">{% trans " Privacy Policy" %}</a></p>
										</div>
								</form>

						</div>

						<div class="social_container" >

							<h3 style="">{% trans "Continue without registering" %}</h3>
							<a href="/signup" data-cp-link="1" data-icon="fa-chrome" rel="noopener" class=" color1 install-ninja-button btn btn-xl install-button install-get-the-app-button" style="padding: 15px 20px;">
								<span class=""> {% trans "Get the app" %}</span>
							</a>

						</div>

					</div>

			</section>
		</header>

		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<footer>
			{% include 'contact.html' %}

		</footer>
		<script type="text/javascript">

			window.addEventListener('load', function(){
				let nijnjas = document.querySelector('.nijnjas');
				let nijnjasSrc = ['ninjaDesign_headicon_mindful.png','ninjaDesign_headicon_mindful2_asian.png','ninjaDesign_headicon_mindful2_asian2.png','ninjaDesign_headicon_mindful2_black.png'];
				let counter = 0;

				function animateNinjas(){
					nijnjas.style.backgroundImage = `url(../../static/images/ninjas/${nijnjasSrc[counter]})`;
					counter++;
					if(counter >= 3){
						counter = 0;
					}

				}

				setInterval(animateNinjas, 2000);
			})

		</script>

{% endblock %}
