{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

{% include 'menu.html' %}
<link rel="stylesheet" href="{% static 'css/ninja-landing.css' %}">
<!-- Header -->
<header>

  <div class="home_container">

    <div class="intro_head">

       <h2 style="color:#fff; font-size: 26px;font-weight:600;">Fight climate change while shopping online</h2>
       <p style="color: #fff; font-size:16px; color: white; width: 70%;font-size: 17px;">

          Become a CO₂ Ninja with our Ninja App. You shop online and the store pays a CO₂ compensation at no extra cost for you. Fighting climate change was never this easy. <a href="#about" style="color: rgb(6, 253, 138);">How it works</a>

       </p>

    </div>

    <div class="world_bol_container">

      <div class="col-lg-12 text-center whitespace">

      </div>

      <div class="ninja_world_bol">
        <!-- <img src="{% static 'images/banner_co2ok_wereldbol.png' %}" alt=""> -->
        <div class="get_app_container">
          <div class="ninja_sword"><img src="{% static 'images/ninjaDesign_callToAction.svg' %}" style="height:130px; display:inline-block; margin-top:25px;"></div>
          <div class="getapp_butt"><a href="{% url 'signup' %}" class="page-scroll btn install-button" style="background-color:#05b139;" >GET THE APP!</a></div>
        </div>
      </div>

    </div>

    <div class="slider_partners">

      <!-- <h3 style="color:rgb(255, 255, 200); font-size:20px;"> CHOOSE FROM <a href="https://co2ok.eco/ninja-partner-stores/" style="color: #11d073;">2000+ SHOPS</a></h3> -->

      <!-- <div class="col-lg-6 text-center white-bg-bar"> -->
        <div class="owl-carousel ">
          <div class="item">
            <a href="https://ds1.nl/c/?si=7630&li=1354896&wi=303581&ws=&dl=" class="button" target="_blank" rel="noopener"></a>
              <div class="partner-logo">
              <img src="{% static 'images/demo/aliexpress_button.png' %}" alt="partners"></div>
            </a>
          </div>
          <div class="item">
            <a href="https://partner.bol.com/click/click?p=2&t=url&s=51851&f=TXL&url=http%3A%2F%2Fbol.com%2F" class="button" target="_blank" rel="noopener">
              <div class="partner-logo"><img src="{% static 'images/demo/bol_button.png' %}" alt="partners"></div>
            </a>
          </div>
          <div class="item">
            <a href="http://booking.com/?aid=1627502&label=chex" class="button" target="_blank" rel="noopener">
              <div class="partner-logo"><img src="{% static 'images/demo/booking_button.png' %}" alt="partners"></div>
            </a>
          </div>
          <div class="item">
            <a href="https://prf.hn/click/camref:1011l3qZq/destination:http%3A%2F%2Fcoolblue.nl%2F" class="button" target="_blank" rel="noopener">
              <div class="partner-logo"><img src="{% static 'images/demo/coolblue_button.png' %}" alt="partners"></div>
            </a>
          </div>
          <div class="item">
            <a href="http://dx.com/?TC=USD&&Utm_rid=78139600&Utm_source=affiliate" class="button" target="_blank" rel="noopener">
              <div class="partner-logo"><img src="{% static 'images/demo/dx_button.png' %}" alt="partners"></div>
            </a>
          </div>
          <div class="item">
              <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&pub=5575349754&toolid=11800&campid=5338219191&customid=chex&mpre=http%3A%2F%2Febay.com%2F" class="button" target="_blank" rel="noopener">
            <div class="partner-logo"><img src="{% static 'images/demo/ebay_button.png' %}" alt="partners"></div>
          </a>
          </div>

        </div>

    <!-- </div> -->

  </div>

  <!-- <div class="container landing-container-padder landing_container">
    <div class="slider-container" style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content:space-between; align-items:center;" >
      <div class="intro-text" style="width: 100%;height: 10%;">
        <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
        <!-- <div class="intro-heading " style="margin-top: -10px; padding-bottom:20px; color:#fff; font-size: 26px;">Fight climate change while shopping online
          <div class="top-text-landing"><h3 style="color: #fff; font-size:16px;">Become a CO₂ Ninja with our Ninja App. You shop online and the store pays a CO₂ compensation at no extra cost for you. Fighting climate change was never this easy. <a href="#about" style="color: rgb(6, 253, 138);">How it works</a></h3>
          </div>
        </div>

        <div class="row" style="padding-top:100px; margin-top:150px;">

        </div>

        <div class="row" style="padding-top:38px; height: 10%;">
            <div class="col-lg-12 text-center" style="height: 10%;">

              <div class="section-title" style="padding-top:0px;">
                <h3 style="color:rgb(255, 255, 255); font-size:20px;"> CHOOSE FROM <a href="https://co2ok.eco/ninja-partner-stores/" style="color: #11d073;">2000+ SHOPS</a></h3>
              </div>
              <div class="col-lg-3 text-center"></div>
            <div class="col-lg-6 text-center white-bg-bar">
              <div class="owl-carousel ">
                <div class="item">
                  <a href="https://ds1.nl/c/?si=7630&li=1354896&wi=303581&ws=&dl=" class="button" target="_blank" rel="noopener"></a>
                    <div class="partner-logo">
                    <img src="{% static 'images/demo/aliexpress_button.png' %}" alt="partners"></div>
                  </a>
                </div>
                <div class="item">
                  <a href="https://partner.bol.com/click/click?p=2&t=url&s=51851&f=TXL&url=http%3A%2F%2Fbol.com%2F" class="button" target="_blank" rel="noopener">
                    <div class="partner-logo"><img src="{% static 'images/demo/bol_button.png' %}" alt="partners"></div>
                  </a>
                </div>
                <div class="item">
                  <a href="http://booking.com/?aid=1627502&label=chex" class="button" target="_blank" rel="noopener">
                    <div class="partner-logo"><img src="{% static 'images/demo/booking_button.png' %}" alt="partners"></div>
                  </a>
                </div>
                <div class="item">
                  <a href="https://prf.hn/click/camref:1011l3qZq/destination:http%3A%2F%2Fcoolblue.nl%2F" class="button" target="_blank" rel="noopener">
                    <div class="partner-logo"><img src="{% static 'images/demo/coolblue_button.png' %}" alt="partners"></div>
                  </a>
                </div>
                <div class="item">
                  <a href="http://dx.com/?TC=USD&&Utm_rid=78139600&Utm_source=affiliate" class="button" target="_blank" rel="noopener">
                    <div class="partner-logo"><img src="{% static 'images/demo/dx_button.png' %}" alt="partners"></div>
                  </a>
                </div>
                <div class="item">
                    <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&pub=5575349754&toolid=11800&campid=5338219191&customid=chex&mpre=http%3A%2F%2Febay.com%2F" class="button" target="_blank" rel="noopener">
                  <div class="partner-logo"><img src="{% static 'images/demo/ebay_button.png' %}" alt="partners"></div>
                </a>
                </div>

              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>  -->
</header>

  <section id="about" class="light-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-title">
            <h2 id="ninja-how-it-works">HOW IT WORKS</h2>

          </div>
        </div>
      </div>
      <div class="row">
        <!-- about module -->
        <div class="col-md-4 text-center">
          <div class="mz-module-about">
            <img src="{% static 'images/ninjaDesign_install.svg' %}" style="width: 300px; height: 225px; margin:auto; vertical-align: middle;">
            <h3>Become a CO₂ Ninja</h3>
            <p>Simply register with us and install the app. The app is safe, open source, and respects your privacy.
                <a href="#CO2ok-Ninja-Privacy-Policy">We don’t use / store your personal shopping data - our Privacy Policy</a></p>
          </div>
        </div>
        <!-- end about module -->
        <!-- about module -->
        <div class="col-md-4 text-center">
          <div class="mz-module-about">
              <img src="{% static 'images/ninjaDesign_Trolly.svg' %}" style="width: 300px; height: 225px;">
            <h3>Shop</h3>
            <p>Start shopping in your Ninja suit. After paying we will receive a commission from the shop.</p>
          </div>
        </div>
        <!-- end about module -->
        <!-- about module -->
        <div class="col-md-4 text-center">
          <div class="mz-module-about">
              <img src="{% static 'images/ninjaDesign_Hadouken.svg' %}" style="width: 300px; height: 225px;">
            <h3>Fight climate change</h3>
            <p>With this commission we finance projects that directly reduce greenhouse gas emissions. In effect this makes your purchase climate neutral. Thank you 💚</p>
          </div>
        </div>



            <div class="gridContainer">
            <div class="row text-center">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" data-type="column">
            <div class="" style="margin-top: 40px; min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);">
            <p style="color: #000 !important; margin: 0px;"><strong>There are no extra costs for you.</strong> The CO₂ compensation is fully covered by the shop.</p>

            </div>
            <!-- <a class="install-button color2 install-ninja-button btn btn-xl install-button" style="width: 50%;" data-cp-link="1" data-icon="fa-chrome" unknown="" rel="noopener" href="/signup"><span class="button-icon fa fa-chrome"></span> Get involved & fight climate change</a> -->
            <a href="/signup" target="_blank" data-cp-link="1" data-icon="fa-chrome" rel="noopener" class="install-button color2 install-ninja-button btn btn-xl install-button get_involved_button">
              <span class="button-icon fa fa-chrome"></span><p>Get involved & fight climate change</p>
           </a>
            </div>
            </div>
            </div>

        <!-- end about module -->
        <!-- about module -->
        <!-- <div class="col-md-3 text-center">
          <div class="mz-module-about">
            <i class="fa fa-cube ot-circle"></i>
            <h3>UI/UX Design</h3>
            <p> Itaque earum rerum hic tenetur a sapiente, ut aut reiciendis maiores</p>
          </div>
        </div> -->
        <!-- end about module -->
      </div>
    </div>
    <!-- /.container -->
  </section>

  <section >
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <div class="skills-text">
            <h2 style="font-weight: 600;">Bekijk wat jij voor verschil kan maken.</h2>
            <p style="font-size: 18px; line-height: 3rem;font-weight: 300;">Als jij onze extensie gebruikt doneren wij een bedrag aan de financiering van duurzame energie en projecten voor vermindering van CO₂-uitstoot (via onze gecertificeerde partner, Atmosfair). Deze projecten zullen actief de CO₂-uitstoot verminderen, wat je online aankoop weer klimaat neutraal maakt. Op deze manier verbeter je het klimaat!</p>
            <p style="margin-top: 10px;">Hoe <a href="co2-compensatie" style="color:#11d073;">CO2 compensatie</a> werkt. Lees meer in de <a href="ninja/#faq" style="color:#11d073;">FAQ</a></p>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="mz-module-about">
              <img src="{% static 'images/weegschaal_scheef-1.png' %}" style="width: 300px; height: 225px;">
            <h4 style="    line-height: 2.5rem;letter-spacing: .0625rem;">Tijdens productie en vervoer van producten komen broeikasgassen vrij</h4>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="mz-module-about">
              <img src="{% static 'images/weegschaal_even-1.png' %}" style="width: 300px; height: 225px;">
            <h4 style="    line-height: 1.75rem;letter-spacing: .0625rem;">Wij voorkomen minstens evenveel uitstoot</h4>
          </div>
        </div>

        </div>
      </div>
  </section>
  <section style="background-color: white; padding: 40px 0px;">
    <div class="container text-center">
      <div class="row">

        <div class="col-md-12">
          <div class="skills-text">
            <h4 style="font-weight: 600;margin-bottom: 30px;">Zo is je aankoop klimaatneutraal!</h4>
          </div>
        </div>

        {% include 'caroussel.html' %}

      </div>
    </div>
  </section>
  <section id="portfolio" class="light-bg">
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="/signup" target="_blank" data-cp-link="1" data-icon="fa-chrome" rel="noopener" class="install-button color2 install-ninja-button btn btn-xl install-button">
          <span class="button-icon fa fa-chrome"> INSTALLEER OM TE HELPEN</span>
       </a>

      </div>
    </div>
    <div class="col-md-12 text-center">

      <div class="col-md-2"></div>
      <div class="col-md-8 privacy" style="border:1px solid blue; margin-top: 50px;
         border: 1px solid #e3e3e3;
         border-radius: 4px;
         webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.05);background-color: #f5f5f5;">
        <h1>CO2ok Ninja Privacy Beleid</h1>
        <p>We verzamelen en saven geen gebruikersdata gezien we dat niet nodig hebben om commissies te ontvangen. Je privacy is heel belangrijk voor ons, wij houden ook niet van arbitraire data-tracking, daarom doen we dat niet.</p>
        <p>Onze code is open source, dus kun je bekijken hoe het technisch gemaakt is, de volledige code is in te zien, zo kunnen we geen geheimen houden. Hier kun je het vinden:<a href="https://github.com/Mil0dV/co2ok-ninja" style="color:#11d073;"> Broncode browserextensie Broncode backend</a></p>
        <p>Om de CO2ok Ninja te laten werken heeft de extensie alleen bepaalde rechten nodig om lokaal te zien welke webshop je momenteel gebruikt om de commissie te activeren bij de webshop.</p>

       </div>
      <div class="col-md-2"></div>
      <!-- end portfolio item -->
    </div>
    </div><!-- end container -->
  </section>
  <section>


  </section>
  <section id="team" class="light-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-title">
            <h1>FAQ</h1>
          </div>
        </div>
      </div>
      <div class="row">

        {% include 'faq.html' %}

      </div>
    </div>
  </section>

  <p id="back-top">
    <a href="#top"><i class="fa fa-angle-up"></i></a>
  </p>
  <footer>
      {% include 'contact.html' %}
  </footer>

  <!-- Modal for portfolio item 1 -->
  <div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
        </div>
        <div class="modal-body">
          <img src="{% static 'images/demo/portfolio-1.jpg' %}" alt="img01" class="img-responsive" />
          <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
          <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for portfolio item 2 -->
  <div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
        </div>
        <div class="modal-body">
          <img src="{% static 'images/demo/portfolio-2.jpg' %}" alt="img01" class="img-responsive" />
          <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
          <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for portfolio item 3 -->
  <div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
        </div>
        <div class="modal-body">
          <img src="{% static 'images/demo/portfolio-3.jpg' %}" alt="img01" class="img-responsive" />
          <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
          <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for portfolio item 4 -->
  <div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
        </div>
        <div class="modal-body">
          <img src="{% static 'images/demo/portfolio-4.jpg' %}" alt="img01" class="img-responsive" />
          <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
          <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for portfolio item 5 -->
  <div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Modal-label-5">Fast People</h4>
        </div>
        <div class="modal-body">
          <img src="{% static 'images/demo/portfolio-5.jpg' %}" alt="img01" class="img-responsive" />
          <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
          <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
