{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

{% include 'menu.html' %}
<link rel="stylesheet" href="{% static 'css/ninja-landing.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
<!-- Header -->
<header>

  <div class="home_container">
<!-- {% include 'language.html' %} -->
    <div class="intro_head" style="color: black;">

       <h2 class="landing-page-title">{% trans "Fight climate change while you shop online" %}</h2>
       <p class="landing-page-subtitle">

        {% trans "Become a CO₂ok Ninja with our Ninja App. You shop and the store pays a CO₂ compensation at no extra cost for you. Fighting climate change was never this easy." %}
        <a href="#about" style="color: #00cc40;">{% trans "How it works" %}</a>

       </p>

    </div>

    <div class="world_bol_container">

      <div class="col-lg-12 text-center whitespace">

      </div>

      <div class="ninja_world_bol">
        <!-- <img src="{% static 'images/banner_co2ok_wereldbol.png' %}" alt=""> -->
        <div class="get_app_container">
          <div class="ninja_sword"><img src="{% static 'images/ninjaDesign_callToAction.svg' %}" style="height:130px; display:inline-block; margin-top:25px; position: relative;"></div>
          <div class="getapp_butt"><a href="{% url 'signup' %}" class="page-scroll btn install-button" style="background-color:#05b139; position: relative; border: 2px solid white;" >{% trans "GET THE APP!" %}</a></div>
        </div>
      </div>

    </div>

    <div class="slider_partners">

      <h3 class="black-bg-bar choose-from-shops-h3" style="color: rgb(255, 255, 255); margin-top:-1px; margin-bottom:1px; padding-left: 70px; padding-right: 70px;"> {% trans "CHOOSE FROM " %}<a href="/partner-stores/" class="international-shops-link" style="color: #00d644;">{% trans " 22.000+ INTERNATIONAL SHOPS" %}</a></h3>

        <div class="container">
            <div class="row" style="text-align:center;">
              <div class="home-page-logos" >
        <a href="https://ds1.nl/c/?si=7630&li=1354896&wi=303581&ws=&dl=" class="button" target="_blank" rel="noopener">
          <div class="partner-logo"><img src="{% static 'images/demo/aliexpress_button.png' %}" alt="partners"></div>
        </a></div><div class="home-page-logos">
        <a href="https://partner.bol.com/click/click?p=2&t=url&s=51851&f=TXL&url=http%3A%2F%2Fbol.com%2F" class="button" target="_blank" rel="noopener">
          <div class="partner-logo"><img src="{% static 'images/demo/bol_button.png' %}" alt="partners"></div>
        </a></div><div class="home-page-logos">
        <a href="http://booking.com/?aid=1627502&label=chex" class="button" target="_blank" rel="noopener">
          <div class="partner-logo"><img src="{% static 'images/demo/booking_button.png' %}" alt="partners"></div>
        </a></div><div class="home-page-logos">
        <a href="https://prf.hn/click/camref:1011l3qZq/destination:http%3A%2F%2Fcoolblue.nl%2F" class="button" target="_blank" rel="noopener">
          <div class="partner-logo"><img src="{% static 'images/demo/coolblue_button.png' %}" alt="partners"></div>
        </a></div><div class="home-page-logos">
        <a href="http://dx.com/?TC=USD&&Utm_rid=78139600&Utm_source=affiliate" class="button" target="_blank" rel="noopener">
          <div class="partner-logo"><img src="{% static 'images/demo/dx_button.png' %}" alt="partners"></div>
        </a></div><div class="home-page-logos">
        <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&pub=5575349754&toolid=11800&campid=5338219191&customid=chex&mpre=http%3A%2F%2Febay.com%2F" class="button" target="_blank" rel="noopener">
          <div class="partner-logo"><img src="{% static 'images/demo/ebay_button.png' %}" alt="partners"></div>
        </a></div>
      </div>
    </div>

  </div>

</header>

  <section id="about" class="light-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-title">
            <h2 id="ninja-how-it-works">{% trans "HOW IT WORKS" %}</h2>

          </div>
        </div>
      </div>
      <div class="row">
        <!-- about module -->
        <div class="col-md-4 text-center">
          <div class="mz-module-about">
            <img src="{% static 'images/ninjaDesign_Register_2.svg' %}" style="width: 300px; height: 225px; margin:auto; vertical-align: middle;">
            <h3>{% trans "Become a CO₂ok Ninja" %}</h3>
            <p>{% trans "Simply register with us and install the app. The app is safe, open source, and respects your privacy." %}
                <a href="#CO2ok-Ninja-Privacy-Policy">{% trans "We don’t use / store your personal shopping data - our Privacy Policy" %}</a></p>
          </div>
        </div>
        <!-- end about module -->
        <!-- about module -->
        <div class="col-md-4 text-center">
          <div class="mz-module-about">
              <img src="{% static 'images/ninjaDesign_Trolly.svg' %}" style="width: 300px; height: 225px;">
            <h3>{% trans "Shop" %}</h3>
            <p>{% trans "Start shopping in your Ninja suit. After paying we will receive a commission from the shop." %}</p>
          </div>
        </div>
        <!-- end about module -->
        <!-- about module -->
        <div class="col-md-4 text-center">
          <div class="mz-module-about">
              <img src="{% static 'images/ninjaDesign_Hadouken.svg' %}" style="width: 300px; height: 225px;">
            <h3>{% trans "Fight climate change" %}</h3>
            <p>{% trans "With this commission we finance projects that directly reduce greenhouse gas emissions. In effect this makes your purchase climate neutral. Thank you 💚." %}</p>
          </div>
        </div>



            <div class="gridContainer">
            <div class="row text-center">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" data-type="column">
            <div class="" style="margin-top: 40px; min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);">
            <p style="color: #000 !important; margin: 0px;"><strong>{% trans "There are no extra costs for you." %}</strong> {% trans "The CO₂ compensation is fully covered by the shop." %}</p>

            </div>
            <!-- <a class="install-button color2 install-ninja-button btn btn-xl install-button" style="width: 50%;" data-cp-link="1" data-icon="fa-chrome" unknown="" rel="noopener" href="/signup"><span class="button-icon fa fa-chrome"></span> Get involved & fight climate change</a> -->
            <a href="{% url 'signup' %}" data-cp-link="1" data-icon="fa-chrome" rel="noopener" class="install-button color2 btn btn-xl install-button get_involved_button">
              <span class="button-icon "> {% trans "Get involved & fight climate change" %}</span>
           </a>
            <!-- <a class="install-button color2 install-ninja-button btn btn-xl install-button" data-cp-link="1" data-icon="fa-chrome" unknown="" rel="noopener" href="/signup"><span class="button-icon fa fa-chrome"></span> MAAK IMPACT & SHOP KLIMAATNEUTRAAL</a> -->

            </div>
            </div>
            </div>

        <!-- end about module -->
        <!-- about module -->
        <!-- <div class="col-md-3 text-center">
          <div class="mz-module-about">
            <i class="fa fa-cube ot-circle"></i>
            <h3>UI/UX Design</h3>
            <p> Itaque earum rerum hic tenetur a sapiente, ut aut reiciendis maiores</p>
          </div>
        </div> -->
        <!-- end about module -->
      </div>
    </div>
    <!-- /.container -->
  </section>

  <section >
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <div class="skills-text">
            <h2 style="font-weight: 300; font-size: 34px; text-transform: uppercase;">{% trans "See how much difference you can make" %}</h2>
            <p style="line-height: 22px;font-weight: 300;">{% trans "With the commission we finance sustainable energy and CO₂-emission reduction projects via our certified partners. These projects actively reduce the amount of CO₂ emitted, thereby making your purchase climate neutral. In doing so you are positively impacting the environment!" %}</p>
            <p style="margin-top: 10px; font-size: 14px;">{% trans "How " %}<a href="https://www.co2ok.eco/co2-compensatie/" target="_blank" style="color:#11d073;">{% trans "CO₂ compensation" %}</a> {% trans "works. Read more in the " %}<a href="ninja/#faq" style="color:#11d073;">{% trans " FAQ" %}</a></p>
          </div>
        </div>

        <div class="col-md-12">
          <div class="mz-module-about">
              <img src="{% static 'images/infographic_mockup06medium.jpg' %}" class="ninja-infographic">
          </div>
        </div>

        </div>
      </div>
  </section>
  <section style="background-color: #f8f8f8; padding: 40px 0px;">
    <div class="container text-center">
      <div class="row">

        <div class="col-md-12">
          <div class="skills-text">
            <h4 style="font-weight: 300; text-transform: uppercase; margin-bottom: 30px;">{% trans "With the help of your clicks we support these sustainable projects!" %}</h4>
          </div>
        </div>

        {% include 'caroussel.html' %}

      </div>
    </div>
  </section>
  <section id="portfolio" class="light-bg">
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <a href="{% url 'signup' %}" data-cp-link="1" data-icon="fa-chrome" rel="noopener" class="install-button color2 btn btn-xl install-button get_involved_button">

          <span class="button-icon "> {% trans "REGISTER & FIGHT CLIMATE CHANGE" %}</span>

       </a>

      </div>
    </div>

    <section id="CO2ok-Ninja-Privacy-Policy">
    <div class="col-md-12 text-center">

      <div class="col-md-2"></div>
      <div class="col-md-8 privacy" style="border:1px solid blue; margin-top: 50px;
         border: 1px solid #e3e3e3;
         border-radius: 4px;
         webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.05);background-color: #f5f5f5;">
        <h1 >{% trans "CO₂ok Ninja Privacy Policy" %}</h1>
        <p>{% trans "We fight climate change, we don’t mine data! That is why we don’t collect or save any of your personal shopping data. With us your data is yours only." %}</p>
        <p>{% trans "We work transparent and our code is open source. You can have a look how our Ninja App  is technically made. The entire source code is open for you, no secrets involved. You find it here:" %}<a href="https://github.com/Mil0dV/co2ok-ninja" style="color:#11d073;">{% trans " Sourcecode Ninja App - browserextension" %}</a></p>
        <p>{% trans "Our Ninja App system only needs the right to locally see which online shop you are visiting to activate the commission. The information about visited websites does not leave your computer, so your privacy is protected." %}</p>
        <p>{% trans "Look further into our " %}<a target="_blank" href="https://www.co2ok.eco/privacy">{% trans " Privacy Policy" %}</a></p>

       </div>
      <div class="col-md-2"></div>
      <!-- end portfolio item -->
    </div>
    </div><!-- end container -->
  </section>


  <section id="faq" class="light-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-title">
            <h1>{% trans "FAQ" %}</h1>
          </div>
        </div>
      </div>
      <div class="row">

        {% include 'faq.html' %}

      </div>
    </div>
  </section>

  <p id="back-top">
    <a href="#top"><i class="fa fa-angle-up"></i></a>
  </p>
  <footer>
      {% include 'contact.html' %}
  </footer>


{% endblock %}
