{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/mission.css' %}">
{% endblock %}

{% block content %}

   {% include 'menu.html' %}

   <div class="mission-container">

      <h1 class="mission-title">{% trans "Mission" %}</h1>

      <p class="mission-subtitle">{% trans "Climate change is a serious problem.<br> Whether you are poor or rich, it affects us all!" %}</p>

      <div class="txt_img-container">
        <p>
           {% trans "In March 2017, Milo was on the ski slope looking at a sign with the CO₂ emissions for a week of winter sports. How strange that you can not compensate for that, he thought. You can do that with a plane ticket. Back home he read that products and clothing have more impact on the environment than cars, aeroplanes and the consumption of meat together. Shouldn’t you be able to compensate these products?<br><br> If the government doesn’t take action, then I will, Milo decided. He quit his job and registered at the Chamber of Commerce. And so he started CO₂ok on October 4, 2017. His goal? Enabling everyone to make their purchases climate-neutral. At the same time, he wants to ensure that the standard of living of people in third world countries is increased. In short: creating a win-win situation." %}
        </p>
        <div class="group-img" style="background-image: url('{% static 'images/MiloJos.jpg' %}')"></div>
      </div>

      <div class="img_txt-container">
        <a href="#" id="pop2">
         <img class="group-img" id="imageresource2" src="{% static 'images/groupphoto.jpg' %}">
         </a>
         <p>
         {% trans "Since October 2018 Jos is co-owner of CO₂ok. Jos has a commercial background and wanted to start for himself. He also wanted to use his knowledge for the environment. When he heard about CO₂ok he was immediately enthusiastic. He called Milo and soon their cooperation was a fact. Milo is responsible for the ideas and technology and Jos for the management.<br><br> They have gathered a team of young climate conscious people around them who are highly motivated and willing to make a difference. These young professionals have various skills - from coding to marketing and together we, at CO₂ok, will create a brighter future. <br> <br> Our dream? That one day all products will be produced in a climate-neutral way and you will no longer need to compensate for your purchases." %}
        </p>
      </div>

   </div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" >
      </div>
      <div class="modal-footer">
        <button type="button" class="sign-up menu-install-button install-button btn btn-sm page-scroll" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

   {% include 'contact.html' %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/mission.js' %}"></script>
{% endblock %}
